{% extends "base.html" %}
{% block title %}DocCare | Dashboard{% endblock title %}
{% block link %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='receptionist_style.css') }}"> 
{% endblock %}

{% block content %}

    <!-- NAVIGATION -->
    <div class="sidenav-bg">
        <div class="cms-logo">
            <img src="{{ url_for('static', filename='/images/DocCare Logo.png') }}">
        </div>
        <ul>
            <li class="selected-icon-bg">
                <img src="{{ url_for('static', filename='images/Dashboard.png') }}"> 
                <p>Dashboard</p>
            </li>
            <!-- <a href="{{ url_for('receptionist.calendar') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Calendar.png') }}"> 
                    <p>Calendar</p>
                </li>
            </a> -->
            <a href="{{ url_for('receptionist.appointment') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Appointment.png') }}"> 
                    <p>Appointment</p>
                </li>
            </a>
            <a href="{{ url_for('receptionist.schedule') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Schedule.png') }}"> 
                    <p>Schedule</p>
                </li>
            </a>
            <a href="{{ url_for('receptionist.patient') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Patient Record.png') }}"> 
                    <p>Patient</p>
                </li>
            </a>
            <!-- <a href="{{ url_for('receptionist.profile') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Profile.png') }}"> 
                    <p>Profile</p>
                </li>
            </a> -->
        </ul>
        <div class="foot-nav">
            <div class="sidenav-user-bg">
                <img src="{{ url_for('static', filename='images/Kurt.png') }}" class="user-img">
                <div>
                    <h3>{{ info[0] }}</h3>
                    <p>{{ info[1] }}</p>
                </div>
            </div>
            <ul>
                <li class="logout" id="logoutButton">
                    <img src="{{ url_for('static', filename='images/Logout.png') }}">
                    <p>Logout</p>
                </li>
            </ul>
        </div>
    </div>

    <main>
        <center>
            <!-- DASHBOARD -->
            <div class="doctor-bg">
                <img src="{{ url_for('static', filename='images/DocCare BG.png') }}">
                <div class="greetings-name">
                    <p>Welcome,</p>
                    <h2>{{ info[0] }}</h2>
                </div>
                <div class="greetings">
                    <p>Have a nice day at work!</p>
                </div>  
            </div>
            <p class="date-time" id="demo"></p>

            <div class="grid_container">
                <!-- APPOINTMENTS -->
                <div class="grid_item">
                    <div class="appoint_list">
                        <p style="margin-top: 15px; text-align:left;"><strong>Appointment of the Day</strong></p>
                        <div class="appointement_short_container">
                            <table class="appointment_short_table">
                                <thead>
                                    <th>DATE & TIME</th>
                                    <th>PATIENT</th>
                                    <th>STATUS</th>
                                    <th>CONTACT NUMBER</th>
                                </thead>
                                <tbody>
                                    {% if sched_data %}
                                        {% for sched_today in sched_data %}
                                            <tr>
                                                <td> {{ sched_today.date_appointment }} {{sched_today.time_appointment}}</td>
                                                <td>{{ sched_today.first_name }} {{ sched_today.middle_name }} {{ sched_today.last_name }}</td>
                                                <td> 
                                                    <div class="status_short">
                                                        <p class="status">
                                                            <strong> {{ sched_today.status_ }} </strong>
                                                        </p>
                                                    </div>
                                                </td>
                                                <td>{{ sched_today.contact_number }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td> No data </td>
                                            <td>No data</td>
                                            <td> No data </td>
                                            <td> No data </td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- PATIENTS -->
                <div class="grid_item">
                    <div class="short_patient_list">
                        <div class="patients_short">
                            <p><strong>Patients</strong></p>
                            <div class="patient_buttons">
                                <a href="{{ url_for('receptionist.add_patient') }}">
                                    <div class="add_patient_btn">
                                        <img src="{{ url_for('static', filename='images/Add User.png') }}" title="Add User">
                                    </div>
                                </a>
                                <a href="{{ url_for('receptionist.patient') }}">
                                    <div>
                                        <button class="see_more">SEE MORE</button>
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% for patient in patients %}
                            <table class="patient_short_table">
                                <tr>
                                    <td rowspan="3">
                                        <strong>{{ patient[1] }} {{ patient[3] }}</strong> <br>
                                        <em style="color: var(--grayA);">{{ patient[15] }}</em>
                                    </td>
                                    <td>
                                        <!-- VIEW RECORD -->
                                        <form method="GET" action="/receptionist/patient_record/">
                                            <div class="patient_record">
                                                <input id="patient_id" name="patient_id" value="{{ patient[0] }}" type="hidden">
                                                <button type="submit" style="background: none; border: none;">
                                                    <img src="{{ url_for('static', filename='images/Folder.png') }}" title="Patient Record">
                                                </button>
                                            </div>
                                        </form> 
                                    </td>
                                </tr>
                            </table>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </center>
    </main>
    
    <script src="{{ url_for('static', filename='receptionist_dashboard_script.js') }}"></script>
    <script>
        // TO DISPLAY THE DATE
        function displayDateAndTime() {
        const demoElement = document.getElementById('demo');

            function updateDateAndTime() {
                const currentDateAndTime = new Date();
                const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                const formattedDateAndTime = currentDateAndTime.toLocaleDateString(undefined, options);

                demoElement.innerHTML = `TODAY IS ${formattedDateAndTime.toUpperCase()}`;
            }
            updateDateAndTime();
            setInterval(updateDateAndTime);
        }
        displayDateAndTime();   
    </script>
    
{% endblock %}