@import "base_style.css";

/* WELCOME MESSAGE */
.greetings {
    display: flex;
    position: absolute;
    top: 70px;
    left: 150px;
}

/* SIDEBAR USER */
.sidenav-user-bg {
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 65px; 
    background-color: white;
    border-radius: 350px; 
    margin-top: 205px;
    margin-bottom: 25px;
    overflow: hidden;
}

/* DASHBOARD */
.doctors-icon img {
    width: 450px;
    top: 180px;
    left: 350px;
    border-radius: 20px;
} 

.medtech-icon img {
    width: 450px;
    top: 90px;
    left: 830px;
    border-radius: 20px;
}

.receptionist-icon img {
    width: 450px;
    top: 365px;
    left: 830px;
    border-radius: 20px;
}

.doctors-icon img,
.medtech-icon img,
.receptionist-icon img {
    position: fixed;
}

.doctors-icon img:hover,
.medtech-icon img:hover,
.receptionist-icon img:hover {
    transform: scale(101%);
    z-index: 1;
}