@import "base_style.css";

/* -------------------------------------------- SIDEBAR USER -------------------------------------------- */
.sidenav-user-bg {
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 65px; 
    background-color: white;
    border-radius: 350px; 
    margin-top: 205px;
    margin-bottom: 25px;
    overflow: hidden;
}

/* -------------------------------------------- DASHBOARD -------------------------------------------- */
.doctors-icon img {
    width: 450px;
    top: 180px;
    left: 350px;
    border-radius: 20px;
} 

.medtech-icon img {
    width: 450px;
    top: 90px;
    left: 830px;
    border-radius: 20px;
}

.receptionist-icon img {
    width: 450px;
    top: 365px;
    left: 830px;
    border-radius: 20px;
}

.doctors-icon img, .medtech-icon img, .receptionist-icon img {
    position: fixed;
}

.doctors-icon img:hover, .medtech-icon img:hover, .receptionist-icon img:hover {
    transform: scale(101%);
    z-index: 1;
}

.doctors-icon img:active, .medtech-icon img:active, .receptionist-icon img:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    transform: translateY(1px);
}

/* -------------------------------------------- PROFILE -------------------------------------------- */
/* style here */

/* -------------------------------------------- USER MANAGEMENT -------------------------------------------- */
.add-icon img {
    width: 60px;
    right: 20px;
    bottom: 20px;
    justify-content: flex-end;
    border-radius: 100%;
    z-index: 99;
    position: fixed;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

.add-icon img:active {
    transform: translateY(1px);
}

.ur-container{
    margin-left: 110px;
    margin-right: 2%;
}


/* -------------------------------------------- USER TABLE -------------------------------------------- */

.user-header{
    position: absolute;
    top: 45px;
    left: 110px;
    font-weight: 900;
    font-size: 18px;
}

.user-table {
    position: relative; 
    width: 1350px; 
    top: 85px; 
    left: 110px;
    line-height: 1.5;
    color: var(--darkBlue);
    background-color: white;
    font-size: 16px;
}

.user-table.request {
    top: 190px; 
}

.action-icon-container{
    display: flex; 
    justify-content: center;
}