:root {
    --blueA: #0277BD;
    --blueB: #A3D5FF;
    --blueC: #DFF1FF;
}

* {
    box-sizing: border-box;
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}

/* WELCOME MESSAGE */
.greetings {
    display: flex;
    position: absolute;
    top: 70px;
    left: 150px;
}

.greetings h4 {
    font-weight: 900;
    color: var(--blueB);
    font-size: 22px;
}

.greetings p {
    font-weight: 900;
    color: var(--blueA);
    margin-left: 10px;
    font-size: 24px;
}


/* SIDEBAR DOCCARE LOGO */
.cms-logo {
    display: flex;
    margin-top: 40px;
    margin-bottom: 35px;
    align-items: center;
    font-size: 32px;
}

.cms-logo img {
    width: 55px;
    margin-left: 5px;
    cursor: pointer;
}

.cms-logo p {
    font-weight: 400;
    display: none;
}

.cms-logo h4 {
    font-weight: 900;
    color: var(--blueA);
    display: none; 
}

/* .sidenav-bg:hover .cms-logo p {
    display: flex;
}

.sidenav-bg:hover .cms-logo h4 {
    display: flex;
} */

.cms-logo p {
    margin-left: 15px;
}

/* SIDEBAR */
.sidenav-bg {
    width: 80px;  
    height: 700px; 
    background-color: var(--blueC);
    border-radius: 50px; 
    position: fixed;  
    margin-top: 6px;
    margin-left: 10px;
    padding: 8px;
    transition: width 0ms;
    z-index: 1;
}

.logout:hover p {
    display: flex;
    margin-left: 35px;
    transition: 0.5s;
}

/* .sidenav-bg:hover {
    width: 249px;
    z-index: 2;
} */

.icon-bg {
    width: 100%;  
    height: 62px; 
    background-color: var(--blueB); 
    border-radius: 30px; 
    padding: 4px;
}

.icon-bg:hover {
    background-color: white;
    width: 249px;   
    transition: width 0.3s;
}

.icon-bg:hover p {
    display: flex;
    margin-left: 35px;
    transition: 0.5s;
}

.selected-icon-bg {
    width: 100%;  
    height: 62px; 
    background-color: white; 
    border-radius: 30px; 
    padding: 4px;
}

.selected-icon-bg:hover {
    background-color: white;
    width: 249px;   
    transition: 0.2s;
}

.selected-icon-bg:hover p {
    display: flex;
    margin-left: 35px;
    transition: 0.5s;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 14px;
    font-weight: 900;
    transition: 1ms;
}

a {
    text-decoration: none;
    color: black;
}

ul li img {
    margin-right: 0px;
    margin-left: 15px;
    width: 26px;
}

ul li p {
    white-space: nowrap;
    display: none;
}

/* .sidenav-bg:hover ul li p {
    display: block;
}

.sidenav-bg:hover ul li img {
    margin-right: 14px;
} */

/* SIDEBAR USER */
.sidenav-user-bg div {
    display: none;
}

.user-img {
    width: 45px;
    border-radius: 100%;
}

.sidenav-user-bg div {
    margin-left: 30px;
}

.sidenav-user-bg {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px; 
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 350px; 
    margin-top: 205px;
    margin-bottom: 25px;
    white-space: nowrap;
    overflow: hidden;
}

/* .sidenav-bg:hover .sidenav-user-bg {
    background: rgba(255, 255, 255, 1);
}

.sidenav-bg:hover .sidenav-user-bg div {
    display: block;
} */

/* DASHBOARD */
.doctors-icon img {
    width: 450px;
    top: 180px;
    left: 350px;
    border-radius: 20px;
} 

.medtech-icon img {
    width: 450px;
    top: 90px;
    left: 830px;
    border-radius: 20px;
}

.receptionist-icon img {
    width: 450px;
    top: 365px;
    left: 830px;
    border-radius: 20px;
}

.doctors-icon img,
.medtech-icon img,
.receptionist-icon img {
    position: fixed;
    transition: box-shadow 0.3s; 
}

.doctors-icon img:hover,
.medtech-icon img:hover,
.receptionist-icon img:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(0, 0, 0, 0.1);
    transform: scale(105%);
    z-index: 1;
}