:root {
    --blueA: #0277BD; 
    --blueB: #A3D5FF;
    --blueC: #DFF1FF;
    --blueD: #007BFF; /* Active (button, text, background) */
    --darkBlue: #2B394C;
    --grayA: #6C757D;  /* Disabled Text */
    --grayB: #E9ECEF; /* Disabled Background */
    --grayC: #F0F0F2;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Inter';
    margin: 0;
    padding: 0;
}

main {
    margin-left: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

/* -------------------------------------------- SIDEBAR DOCCARE LOGO -------------------------------------------- */
.cms-logo { 
    margin-top: 5px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-bottom: 1px solid var(--blueB);
}

.cms-logo img {
    width: 35px;
    justify-content: center;
    margin-left: 13px;
    margin-bottom: 11px;
}

/* -------------------------------------------- SIDEBAR -------------------------------------------- */
.sidenav-bg {
    width: 80px;  
    height: 100vh;  
    background-color: var(--blueC);
    position: fixed;  
    padding: 8px;
    z-index: 1;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
}

/* logout */
.logout {
    margin-left: 3px;
}

.logout:active {
    transform: translateY(2%);
}

/* notifications */
.notifications {  
    margin-left: 5px;
    margin-bottom: 20px;
}

.notifications:active {
    transform: translateY(2%);
}

/* icon */
.icon-bg {
    width: 85%;  
    height: 40px; 
    border-radius: 20%; 
    transition: width 0.5s;
    margin-left: 5px;
}

.icon-bg img {
    filter: hue-rotate(5deg) brightness(150%);
}

.icon-bg:hover {
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.775);
    border-radius: 20%;
    width: 85%;
}

/* selected icon */
.selected-icon-bg {
    width: 85%;  
    height: 40px;   
    background-color: white; 
    border-radius: 20%; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    margin-left: 5px;
}

/* icon text styles */
.icon-bg p, .logout p, .selected-icon-bg p {
    display: flex;
    position: relative;
    transition: all 0.3s ease-in; 
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);
    top: 18px;
    left: 25px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--darkBlue);
    color: white;
    font-weight: 100;
}

.icon-bg:hover p, .logout:hover p, .selected-icon-bg:hover p {
    left: 30px;
    opacity: 1;
    visibility: visible;
    z-index: 99;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    font-weight: 900;
}

a {
    text-decoration: none;
    color: var(--darkBlue);
}

ul li img {
    margin-left: 16px;
    width: 21px; 
}

ul li p {
    white-space: nowrap;
    display: none;
}

.navbar {
    position: relative;
    width: 100%;
    height: 62px;
    background-color: white;
    border-bottom: 1px solid var(--blueC);
}

/* -------------------------------------------- SIDEBAR USER -------------------------------------------- */
.sidenav-user-bg {
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 50px; 
    overflow: hidden;
    margin-bottom: 15px;
    width: 500px;
}

.sidenav-user-bg:hover {
    display: flex;
    width: 500px;
}

.sidenav-user-bg div {
    position: relative;
    transition: all 0.3s ease-in;
    opacity: 0;
    visibility: hidden;
    background-color: var(--darkBlue);
    color: white;
    padding: 10px;
    border-radius: 10px;
    left: 15px;
}

.sidenav-user-bg:hover div {
    left: 25px;
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

.user-img {
    width: 45px;
    border-radius: 100%;
    margin-left: 10px;
}

.foot-nav {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

/* -------------------------------------------- DASHBOARD -------------------------------------------- */
.date-time {
    font-weight: 900;
    position: relative;
    display: flex;
    margin-top: 1%;
    margin-left: 1%;
    color: var(--darkBlue);
}

.doctor-bg img {
    position: relative;
    margin-top: 10px;
    width: 98%; 
    /* border-radius: 20px; */
} 

.greetings-name {
    position: absolute;
    display: flex;
    gap: 5px;
    top: 45px;
    left: 170px;
    color: var(--darkBlue);
}

.greetings-name p {
    font-size: 25px;
}

.greetings {
    position: absolute;
    top: 80px;
    left: 170px;
    color: var(--darkBlue);   
}


/* -------------------------------------------- ADD ICONS -------------------------------------------- */
.add-icon img {
    position: fixed;
    top: 10px;
    left: 95%;
    width: 40px;
    right: 50px;
    border-radius: 100%;
    z-index: 99;
    z-index: 99;
    position: fixed;
    z-index: 99;    
    position: fixed;
}

.add-icon img:active {
    transform: translateY(1px);
}

/* -------------------------------------------- PATIENT TABLE -------------------------------------------- */
.patient-header p {
    position: relative;
    top: 20px;
    text-align: left;
    padding: 0px 25px;
    font-weight: 900;
    font-size: 18px;
}

.patient-table {
    position: relative; 
    margin-top: 15px;
    width: 95%;
    line-height: 1;
    color: var(--darkBlue);
    background-color: white;
    font-size: 15px;
}

.patient-table.request {
    top: 190px; 
}

.table {
    margin-bottom: 1rem;
    text-align: center;
}

.table th,
.table td {
    padding: 0.50rem;
}

.table thead {
    background-color: var(--blueC);
    color: var(--darkBlue);
}

/* .table-striped tbody tr:nth-of-type(even) {
    background-color: var(--blueC)
} */

.table-striped tbody td {
    border-bottom: 1px solid var(--blueC); 
}

.action-icon-container {
    display: flex; 
    justify-content: center;
    gap: 10px;
}

.delete-icon img {
    width: 35px;
    cursor: pointer;
}

.delete-icon img:active {
    transform: translateY(1px);
}

/* -------------------------------------------- SHOW ENTRIES INFO -------------------------------------------- */
.dataTables_info {
    margin-bottom: 0px;
    position: absolute;
    font-style: italic;
    color: var(--grayA);
    font-size: 14px;
}

/* -------------------------------------------- PAGINATION -------------------------------------------- */
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
    position: relative;
}
  
.page-link {
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: var(--blueD); 
    background-color: #fff; 
}

.page-item.active .page-link {
    z-index: 2;
    color: #fff; 
    background-color: var(--blueD); 
    border-radius: 5px;
}
  
.page-item.disabled .page-link {
    pointer-events: none;
    color: var(--grayA); 
}
  
.page-link:hover {
    color: var(--grayA); 
    text-decoration: none;
    background-color: var(--grayB); 
    border-radius: 5px;
}

/* -------------------------------------------- SEARCH -------------------------------------------- */
.dataTables_wrapper .dataTables_filter input {
    padding: 0.375rem 0.5rem;
    margin-bottom: 1rem; 
    color: var(--darkBlue); 
    background-color: white; 
    border: 1px solid var(--blueB); 
    border-radius: 0.25rem; 
    margin-left: 15px;
    height: 35px;
    width: 500px;  
}

.dataTables_wrapper .dataTables_filter {
    position: relative;
}
  
.dataTables_wrapper .dataTables_filter input:focus {
    color: var(--darkBlue); 
    background-color: white; 
    border-color:  var(--blueB); 
    outline: 0;
    box-shadow: 0 0 0.5rem 0 rgba(163, 213, 255, 1);
}

/* -------------------------------------------- SHOW [NUMBER] ENTRIES -------------------------------------------- */
.dataTables_wrapper .dataTables_length {
    margin-bottom: 0px;
    position: absolute;
}

.dataTables_wrapper .dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}
  
.dataTables_wrapper .dataTables_length select {
    width: auto;
    display: inline-block;
    padding: 0.375rem 0.25rem;
    color: var(--grayA); 
    background-color: #fff; 
    border: 1px solid var(--blueB); 
    border-radius: 0.25rem; 
}
  
.dataTables_wrapper .dataTables_length select:focus {
    color: var(--grayA); 
    background-color: #fff; 
    border-color: var(--blueB); 
    outline: 0;
    box-shadow: 0 0 0.5rem 0 rgba(163, 213, 255, 1); 
}

/* -------------------------------------------- BUTTONS -------------------------------------------- */
.btn-container {
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 50px;
}

.btn-submit {
    position: relative;
    color: white;
    background-color: var(--blueD);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.btn-submit:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    transform: translateY(1px);
}

.btn-submit.test {
    background-color: var(--blueA);
    width: 100px;
    margin-top: 0px;
}

.btn-submit.bmi {
    background-color: var(--blueA);
    width: 131px;
    font-size: 13px;
}

.btn-submit.file {
    width: 100px;
    height: 35px;
    background-color: var(--blueA);
    margin-left: 420px;
}

.btn-submit.order {
    position: relative;
    background-color: white;
    font-weight: 900;
    color: var(--blueA);
    border-bottom: 1px solid var(--blueC);
    border-left: 2px solid var(--blueA);
    border-radius: 0;
    height: 45px;
    width: 100%;
    font-size: 13px;
}

.btn-submit.order:active {
    box-shadow: none;
    transform: none;
}

.btn-submit.add-edit {
    position: absolute;
    background-color: white;
    color: var(--blueA);
    font-size: 14px;
    font-weight: 900;
    margin-top: -60px;
    margin-right: -1920px;
    box-shadow: 0 0 0.1rem 0 rgba(163, 213, 255, 1);
}

.btn-submit.add-edit:hover {
    color: var(--blueD);
    transform: scale(101%);
}

/* -------------------------------------------- ROW -------------------------------------------- */
.p_row {
    position: relative;
    justify-content: center;
    display: flex;
    margin-top: 50px;
}

/* -------------------------------------------- INPUT BOXES -------------------------------------------- */
.inputBox {
    position: relative;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--blueB);
    border-radius: 5px;
    outline-color: var(--blueB);
    color: var(--darkBlue);
    font-size: 1em;
}

.inputBox span {
    position: absolute;
    top: -8px;
    left: 15px;
    padding: 0 10px;
    background: white; 
    font-size: 0.75em;
    color: var(--blueA);
    font-weight: 900;
}

.inputBox input:focus {
    color: var(--darkBlue); 
    background-color: white; 
    outline: 0;
    box-shadow: 0 0 0.5rem 0 rgba(163, 213, 255, 1);
} 

/* text area */
textarea {
    position: relative;
    width: 960px;
    height: 200px;
    border: 1px solid var(--blueB);
    border-radius: 10px;
    resize: none;
    padding: 10px;
    font-size: 16px;
}

/* text area */
textarea:focus {
    box-shadow: 0 0 0.5rem 0 rgba(163, 213, 255, 1);
    outline: none;
}

/* -------------------------------------------- MODAL FOR SUCCESS AND ERROR MESSAGES -------------------------------------------- */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10% auto;
}
  
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
}
  
.modal-header {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid var(--blueA);
    color: var(--blueA);
    font-size: 10px;
}
  
.modal-body {
    padding: 10px;
    font-size: 17px;
    justify-content: center;
    text-align: center;
}

.modal-body button {
    margin-right: 15px;
    margin-left: 15px;
}
  
.modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    gap: 20px;
}
  
.modal-title {
    margin: 0;
}

.modal.show {
    display: block;
}
  
/* modal confirmation button */
.btn-done {
    color: white;
    background-color: var(--blueA);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.btn-done:active {
    transform: translateY(1px);
}

.btn-done.cancel {
    background-color: var(--grayB);
    color: var(--grayA);
}

.btn-done.option {
    width: 180px;
    height: 43px;
}

.btn-done.option:hover {
    transform: scale(101%);
}

/* -------------------------------------------- FORM HEADER -------------------------------------------- */
.med-header {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 1100px;  
    height: 50px; 
    background-color: var(--blueC);
    color: var(--blueA);
    font-weight: 900;
    margin-top: 50px;
}

/* -------------------------------------------- REPORT BACKGROUNDS -------------------------------------------- */
.patient-bg.report {
    height: 2500px; 
}

.patient-bg.test {
    height: 2800px; 
}

/* -------------------------------------------- LABORATORY REPORT -------------------------------------------- */
.lab-result {
    margin-top: 50px;
    position: relative;
}

.test-button {
    border: none;
    background-color: white;
}