@import "base_style.css";

/* WELCOME MESSAGE */
.greetings {
    display: flex;
}

/* SIDEBAR USER */
.sidenav-user-bg {
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 65px; 
    background-color: white;
    border-radius: 350px; 
    margin-top: 71px;
    margin-bottom: 10px;
    overflow: hidden;
}

/* DASHBOARD */
.main-bg {
    width: 1350px; 
    height: 600px; 
    background-color: white;
    box-shadow: 10px 10px 20px 10px var(--blueC);
    border-radius: 12px;
    top: 50%; 
    left: 53%; 
    transform: translate(-50%, -50%);
    position: absolute;
}

.date-time {
    font-weight: 900;
}

.dashboard-header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 105px;
    left: 215px;
    gap: 645px;
}   