@import "base_style.css";

/* SIDEBAR USER */
.sidenav-user-bg {
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 65px; 
    background-color: white;
    border-radius: 350px; 
    margin-top: 70px;
    margin-bottom: 25px;
    overflow: hidden;
}

/* DASHBOARD */
.main-bg {
    width: 1350px; 
    height: 600px; 
    background-color: white;
    box-shadow: 10px 10px 20px 10px var(--blueC);
    border-radius: 12px;
    top: 50%; 
    left: 53%; 
    transform: translate(-50%, -50%);
    position: absolute;
}

/* PATIENT */
.patient-header p {
    position: absolute;
    top: 40px;
    left: 150px;
    font-weight: 900;
    font-size: 22px;
}

.patient-table {
    position: relative; 
    width: 1325px; 
    top: 85px; 
    left: 150px;
    line-height: 1.5;
    color: black;
    background-color: white;
    font-size: 16px;
}

/* Default table */
.table {
    margin-bottom: 1rem;
    text-align: center;
}

.table th,
.table td {
    padding: 0.30rem;
    width: 50px;
}

.table thead {
    background-color: var(--blueB);
    color: black;
}

/* Striped table */
.table-striped tbody tr:nth-of-type(even) {
    background-color: var(--blueC)
}

/* Example button styling */
.view-btn {
    background-color: var(--blueA); 
    color: white; 
    border: none;
    padding: 8px 16px;
    border-radius: 4px; 
    cursor: pointer; 
}
  
/* Hover effect for the button */
.view-btn:hover {
    transform: scale(103%);
}

/* Pagination container */
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
}
  
/* Individual pagination item */
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff; 
    background-color: #fff; 
    border: 1px solid #dee2e6; 
}
  
/* Active page item */
.page-item.active .page-link {
    z-index: 2;
    color: #fff; 
    background-color: #007bff; 
    border-color: #007bff; 
}
  
/* Disabled page item */
.page-item.disabled .page-link {
    pointer-events: none;
    color: #6c757d; 
    background-color: #D3D3D3; 
    border-color: #dee2e6; 
}
  
/* Hover effect */
.page-link:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef; 
}

/* search */
.dataTables_wrapper .dataTables_filter input {
    padding: 0.375rem 0.5rem;
    margin-bottom: 1rem; 
    color: black; 
    background-color: white; 
    border: 1px solid var(--blueB); 
    border-radius: 0.25rem; 
    margin-left: 5px;
}

.dataTables_wrapper .dataTables_filter {
    margin-left: 1065px;
    margin-top: 0px;
}

.dataTables_wrapper .dataTables_length {
    margin-bottom: 0px;
    position: absolute;
}
  
/* Focus state for search input */
.dataTables_wrapper .dataTables_filter input:focus {
    color: black; 
    background-color: white; 
    border-color:  var(--blueB); 
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(163, 213, 255, 1) 
}

/* SHOW NUMBER ENTRIES */
.dataTables_wrapper .dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}
  
.dataTables_wrapper .dataTables_length select {
    width: auto;
    display: inline-block;
    padding: 0.375rem 0.25rem;
    color: #495057; 
    background-color: #fff; 
    border: 1px solid var(--blueB); 
    border-radius: 0.25rem; 
}
  
/* Focus state for "Show [number] entries" dropdown */
.dataTables_wrapper .dataTables_length select:focus {
    color: #495057; 
    background-color: #fff; 
    border-color: var(--blueB); 
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(163, 213, 255, 1); 
}
 
/* Add Icon */
.add-icon img {
    width: 60px;
    top: 625px;
    left: 1445px;
    border-radius: 100%;
    z-index: 99;
    position: fixed;
}

.add-icon img:hover {
    transform: scale(105%);
    cursor: pointer;
}

/* APPOINTMENT */
/* style here */

/* CALENDAR */
/* style here */


/* PROFILE */
/* style here */