@import "base_style.css";

/* -------------------------------------------- DASHBOARD -------------------------------------------- */
.grid_container {
    position: relative;
    display: grid;
    margin-top: 10px;
    grid-template-columns: auto 350px;
    grid-template-rows: 100% 5px;
    padding: 10px;
    height: 69%;
}

.grid_container.certificate {
    grid-template-columns: 50% 50%;
}

.grid_container.prescription {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    height: 1400px;
}

.grid_container.history {
    grid-template-columns: 85% 15%;
    grid-template-rows: auto auto;
}

.grid_container.clearance {
    grid-template-columns: 83% 17%;
    grid-template-rows: auto auto;
    height: 100%;
}

.grid_container.consultation {
    grid-template-columns: 80% 20%;
    grid-template-rows: auto auto;
}

.grid_item {
    padding: 15px;
    border: 1px solid var(--grayC);
    text-align: center;
}

.grid_item.prescription {
    padding: 15px;
    border: 1px solid white;
    text-align: center;
}

.grid_item.prescription.grid1 {
    height: 1110px;
}

/* PATIENTS */
.patients_short {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    gap: 130px;
}

.patient_buttons {
    margin-top: 5px;
    gap: 5px;
    display: flex;
}

.add_patient_btn img {
    width: 35px;
    padding: 10px;
    background-color: var(--darkBlue);
    border-radius: 5px;
}

.see_more {
    outline: none;
    border: none;
    border-radius: 5px;
    width: 85px;
    height: 35px;
    font-size: 13px;
    cursor: pointer;
    background-color: white;
    color: var(--darkBlue);
    border: 1px solid var(--grayA);
    font-weight: 900;
}

.patient_short_table, .appointment_short_table {
    position: relative;
    font-size: 14px;
    margin-top: 5px;
    width: 100%;
}

.patient_short_table td {
    padding: 11px;
    width: 50px;
    background-color: var(--blueC);
}

.patient_record img {
    width: 30px;
    cursor: pointer;
}

/* APPOINTMENT */
.appointement_short_container {
    position: relative;  
    height: 310px; 
    overflow: auto;
}

.appoint_list p {
    margin-bottom: 10px;
}

.appointement_short_container::-webkit-scrollbar {
    width: 10px; 
}

.appointement_short_container::-webkit-scrollbar-thumb {
    background-color: var(--blueB); 
    border-radius: 5px;
}

.appointement_short_container::-webkit-scrollbar-track {
    background-color: none; 
    margin-top: 35px;
}

.appointment_short_table thead {
    position: sticky;
    top: 0;
    font-size: 14px;
    height: 30px;
}

.appointment_short_table th {
    border-bottom: 1px solid var(--blueC);
}

.appointment_short_table td {
    padding: 10px;
    border: 5px solid white;
}

.status_short {
    border-radius: 70px;
    width: 130px;
    color: var(--darkBlue);
}

.status_short.cancelled {
    background-color: #ffb3ba;
    color: var(--darkBlue);
}

.status_short.done {
    background-color: #baffc9;
}

.status_short.pending {
    background-color: #ffffba;
}

.status_short.inprogress {
    background-color: #bae1ff;
}

/* -------------------------------------------- ADD/UPDATE PATIENT, ADD ASSESSMENT, REQUEST LAB TEST ICON -------------------------------------------- */
.update-icon {
    position: absolute;
    top: 13px;
    right: 25px;
    width: 23px;
    border-radius: 5px;
    cursor: pointer;
}

.update-icon:active {
    transform: translateY(1px);
}

/* -------------------------------------------- BACK ICON -------------------------------------------- */
.back-icon img {
    position: relative;
    width: 20px;
    z-index: 1;
    top: 16px;
    right: 15px;
}

.back-icon img:active {
    transform: translateX(2px);
}

/* -------------------------------------------- PATIENT DETAILS NAVBAR -------------------------------------------- */
.nav-underline {
    position: relative;
    display: flex;
    top: 7px;
    margin-left: 40px;
}

.nav-item:active {
    transform: translateY(1px);
}

.nav-underline .nav-link {
    border: none; 
    text-decoration: none; 
    padding: 1.3em 1rem; 
    color: var(--grayA); 
}

.nav-underline .nav-link.active {
    border-bottom: 2px solid var(--blueD);
    color: var(--blueD); 
}

/* -------------------------------------------- PATIENT INFORMATION -------------------------------------------- */
.patient-bg {
    position: relative;
}

/* Input boxes */
.inputBox.fName, .inputBox.mName, .inputBox.lName, .inputBox.job, .inputBox.c_number, .inputBox.email, .relationship, .inputBox.dob, .nationality {
    width: 300px;
}

.inputBox.e_person {
    width: 390px;
}

.inputBox.birth_place, .inputBox.p_address {
    width: 620px;
}

.status, .gender, .bloodType, .inputBox.status {
    width: 170px;
}

.religion, .inputBox.e_number {
    width: 210px;
}

.inputBox.age {
    width: 100px;
}

/* dropdown styles */
input, select {
    padding: 10px;
    border: 2px solid var(--blueB);
    border-radius: 5px;
    outline-color: var(--blueB);
    color: var(--darkBlue);
    font-size: 1em;
}

.group-info div {
    position: relative;
    top: 0px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}

.p_row.firstRow {
    gap: 25px;
}

.p_row.secondRow {
    gap: 32px;
}

.p_row.thirdRow {
    gap: 26px;
}

.p_row.fourthRow {
    gap: 22px;
}

.p_row.fifthRow {
    gap: 20px;
}

.p_row.sixthRow {
    gap: 20px;
}

/* -------------------------------------------- MEDICAL HISTORY, ASSESSMENT, LAB REQUEST, PRESCRIPTION AND REPORT BACKGROUNDS -------------------------------------------- */
.patient-bg.history {
    height: 100%; 
    width: 100%;
}

.patient-bg.assessment {
    height: 100%; 
}

.patient-bg.request {
    height: 1700px; 
}

.patient-bg.prescription {
    height: 1650px;
}

.patient-bg.examination {
    width: 100%;
}

.patient-bg.certificate {
    width: 100%;
    background-color: #bae1ff;
}

.patient-bg.clearance {
    height: 100%; 
    width: 100%;
}

/* subheading */
.subtext {
    position: relative;
    margin-top: 30px;
    font-size: 14px;
}

.subtext.test {
    top: -30px;
}

/* -------------------------------------------- CHECKBOXES -------------------------------------------- */
.checkbox {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    font-size: 17px;
}

.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox input[type="checkbox"] + label:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid var(--darkBlue);
    border-radius: 3px;
    margin-right: 8px;
    vertical-align: middle;
    background-color: white; 
    transition: transform 0.3s ease-in;
}

.checkbox input[type="checkbox"]:checked + label:before {
    background-color: var(--blueA);
    transform: scale(1.1); 
    border: 2px solid white;
    box-shadow: 0 0 0.3rem 0.1rem rgba(163, 213, 255, 1);
}

/* -------------------------------------------- HEADERS -------------------------------------------- */
.med-header.history {
    position: relative;
    width: 100%;
    margin: 0;
}

.med-header.clearance {
    position: relative;
    width: 100%;
    margin-top: 30px;
}

/* -------------------------------------------- MORE ROW ARRANGEMENTS -------------------------------------------- */
.p_row.immunize {
    gap: 125px;
}

.p_row.one {
    gap: 20px;
}

.p_row.two {
    gap: 65px;
}

.p_row.three {
    gap: 10px;
}

.p_row.four {
    gap: 10px;
}

.p_row.five {
    gap: 26px;
}

.p_row.six {
    gap: 24px;
}

.p_row.seven {
    gap: 16px;
}

.p_row.eight {
    gap: 16px;
}

.p_row.nine {
    gap: 16px;
}

.p_row.ten {
    gap: 16px;
}

/* input box for past history */
.inputBox.p_history {
    width: 255px;
}

/* input box for the date, the condition started */
.inputBox.h_date {
    width: 163px;
}

/* dropdown for social history */
.historyA {
    width: 120px;
}

.historyB {
    width: 225px;
}

.historyC {
    width: 282px;
}

.historyD {
    width: 310px;
}

.inputBox.longtext {
    margin-top: 40px;
    margin-bottom: 35px;
    width: 955px; 
    position: relative;
    font-size: 15px;
}

.inputBox.subject {
    width: 960px; 
    margin-top: 50px;
}

.t_surgery {
    width: 380px;
}

/* -------------------------------------------- MEDICAL ASSESSMENT -------------------------------------------- */
.assessment-table {
    position: relative; 
    margin-top: 10px;
    line-height: 1.5;
    color: var(--darkBlue);
    background-color: white;
    font-size: 16px;
}

/* assessment rows */
.p_row.vitalRowA {
    gap: 18px;
}

.p_row.vitalRowB {
    gap: 19px;
}

.p_row.vitalRowC {
    gap: 25px;
}

.p_row.vitalRowD {
    gap: 26px;
}

.p_row.vitalRowE {
    gap: 23px;
}

.p_row.vitalRowF {
    gap: 23px;
}

.p_row.vitalRowH {
    gap: 23px;
}

/* Input boxes for assessment */
.inputBox.vitalsA {
    width: 303px;
}

.inputBox.vitalsB {
    width: 150px;
}

.inputBox.vitalsC {
    width: 195px;
}

.inputBox.vitalsD {
    width: 670px;
}

.inputBox.vitalsE {
    width: 680px;
}

.inputBox.vitalsF {
    width: 690px;
}

.inputBox.vitalsG {
    width: 662px;
}

.inputBox.vitalsH {
    width: 584px;
}

.inputBox.vitalsI {
    width: 581px;
}

.inputBox.vitalsJ {
    width: 560px;
}

.inputBox.vitalsK {
    width: 530px;
}

.inputBox.vitalsL {
    width: 380px;
}

.inputBox.vitalsM {
    width: 635px;
}

/* -------------------------------------------- PRESCRIPTION -------------------------------------------- */
.cms-logo.prescription {
    position: relative;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: -80px;
    display: flex;
    font-size: 30px;
    border-bottom: 0;
    display: flex;
    gap: 20px;
}

.prescription_logo img {
    width: 45px;
    margin-top: 20px;
}

.care {
    color: var(--blueA);
}

.head_prescription {
    position: relative;
    display: flex;
    top: 100px;
    justify-content: center;
}

.body_prescription {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 160px;
}

.name, .date, .address, .gender_pres {
    position: relative;
    display: flex;
    gap: 10px;
}

.rx img {
    position: relative;
    width: 100px;
    margin-bottom: 45px;
}

.line-border {
    position: relative;
    top: 50px;
    border: 1px solid var(--darkBlue);
    height: 1px;
    width: 885px;
}

.foot {
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
}

.page_break {
    position: relative;
    border: 1px solid var(--darkBlue);
    width: 80%;
    height: 1px;
    margin-bottom: 20px;
}

.doctor {
    position: relative;
    text-decoration: underline;
}

.license {
    position: relative;
    justify-content: center;
    display: flex;
    gap: 10px;
}

.p_row.prescriptionA {
    gap: 20px;
    margin-top: 60px;
}

.p_row.prescription {
    gap: 20px;
    margin-top: 20px;
}

.inputBox.prescription {
    width: 600px;
}

.inputBox.p_instruction {
    width: 1040px;
}

.inputBox.p_instructions {
    width: 1040px;
}

.inputBox.dosage, .inputBox.quantity {
    width: 420px;
}

.prescription-container {
    margin-top: 50px;
}

.btn-prescription {
    color: var(--blueA);
    font-weight: 900;
    background-color: var(--blueB);
    border: none;
    border-radius: 5px;
    width: 200px;
    height: 35px;
    font-size: 16px;
    position: relative;
}

.btn-prescription:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    transform: translateY(1px);
}

.btn-prescription:hover {
    transform: scale(101%);
    cursor: pointer;
}

.medicine {
    position: absolute;
    top: 450px;
    left: 115px;
}

@media print {
    @page {
        size: 8.5in 11in;
        margin: 0;
    }

    body {
        width: 8.5in;
        height: 11in;
        margin: 0 auto; 
        box-sizing: border-box; 
    }

    .patient-bg.prescription {
        display: block;
        position: absolute; 
        height: 610px; 
        width: 1230px; 
        top: 0px;
        left: 0px;
    }

    .sidenav-bg, .back-icon, .nav.nav-underline, .btn-container, .med-header, .update-icon, .print-icon, .navbar {
        display: none; 
    }
}

.print-icon {
    position: absolute;
    top: 13px;
    right: 75px;
    background-color: transparent;
    outline: none;
    border: 0;
}

.print-icon img {
    width: 23px;
    border-radius: 5px;
    cursor: pointer;    
}

.print-icon img:active {
    transform: translateY(1px);
}

@media print {
    /* Hide everything except the clearance_textarea */
    body *:not(.clearance_textarea) {
        display: none !important;
    }

    /* Adjust textarea for printing */
    .clearance_textarea {
        display: block !important;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        overflow: auto;
        padding: 10px;
        box-sizing: border-box;
    }
}


.prescription_table {
    position: relative; 
    width: 80%; 
    height: 100%;
    font-size: 20px;
}

.prescription_table td {
    padding: 10px;
}

/* -------------------------------------------- LABORATORY TEST REQUEST AND REPORT -------------------------------------------- */
/* lab results rows */
.p_row.rowOne {
    gap: 25px;
}

.p_row.rowTwo {
    gap: 55px;
}

.p_row.rowThree {
    gap: 32px;
}

.p_row.rowFour {
    gap: 40px;
}

.inputBox.fullName {
    width: 955px
}

.inputBox.labsubject {
    width: 955px;
}

.inputBox.conduct {
    width: 465px;
}

.inputBox.doctorName {
    width: 395px;
}

.inputBox.dateofRequest {
    width: 200px;
}

.inputBox.specifyTest {
    width: 1040px;
}

.p_row.rowTen {
    margin-bottom: 40px;
    gap: 30px;
}

.p_row.rowEleven {
    gap: 65px;
}

.p_row.rowTwelve {
    gap: 27px;
}

.p_row.rowThirteen {
    gap: 57px;
}

.p_row.rowFourteen {
    gap: 67px;
}

.p_row.rowfifteen {
    gap: 30px;
}

.testRow {
    display: block;
}

.testRow.col2 {
    display: flex;
    gap: 15px;
}

.head {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: var(--blueA);
    font-weight: 900;
}

/* SEGMENTED CONTROL */

.segmented-controls {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.segmented-controls input[type="radio"] {
    display: none;
}

.segmented-controls label {
    display: block;
    justify-content: left;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    border-left: 2px solid white;
    background-color: white;
    font-size: 13px;
    transition: 0.3s ease;
    color: var(--blueA);
}

.segmented-controls label:last-of-type {
    border-bottom: none;
}

.segmented-controls input[type="radio"]:checked + label {
    color: var(--blueA);
    padding: 10px;
    border-left: 2px solid var(--blueA);
    font-weight: 900;
}

/* -------------------------------------------- MEDICAL CLEARANCE AND CERTIFICATE -------------------------------------------- */
.lab_icon {
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 0;
    display: flex;
    cursor: pointer;   
    background-color: #f2f9ff;   
    border-radius: 5px;
    padding: 5px;  
}

.lab_icon img {
    margin-right: 10px;
    width: 25px;
}

.lab_icon img:active {
    transform: translateY(1px);
}

.toggled_buttons {
    position: relative;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--blueC);
}

.editor {
    position: relative;  
    border-radius: 0px; 
    margin-top: 0px;
    width: 100%; 
    border: 1px solid var(--blueC);
    outline: none;
    height: 1000px;
    padding: 30px;
    text-align: left;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

/* APPOINTMENT */
/* style here */

/* CALENDAR */
/* style here */


/* PROFILE */
/* style here */