@import "base_style.css";

/* -------------------------------------------- LOGIN -------------------------------------------- */
.grid_container {
    position: fixed;
    display: grid;
    grid-template-columns: 630px auto;
    height: 100vh;
}

.grid_item {
    padding: 60px;
}

.login_bg {
    position: fixed;
    width: 100%; 
    height: 100%;
}

.login_form {  
    position: relative;
    background-color: #dcf1ff8e;
    width: 100%;
    height: 100%;
    text-align: center;
}

.login-button {
    position: relative;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    background: var(--blueA);
    border: none; 
    color: #fff; 
    font-size: 14px; 
    cursor: pointer;
    transition: background 0.3s;
}

.login-button:hover {
    background: #0b8bd5; 
}

.container-2 {
    position: relative;
    text-align: center;
    margin-top: 70px;
}

.margin-tb img {
    width: 30px;
    margin-right: 5px;
}

.margin-tb {
    position: relative;
    display: inline-block;
    margin-top: 10%;
    margin-bottom: 50px;
}

.margin-t {
    position: relative;
    display: inline-block;
    margin-top: 25px ;
}
.doc {
    position: relative;
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.care {
    position: relative;
    color: var(--blueA);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* input box styles */
.form_input {
    position: relative;
    width: 450px;
}

.disabled-form_input {
    position: relative;
    width: 450px;
}

.form_input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccd7e0;
    outline-color: var(--blueA);
    border-radius: 5px;
    font-size: 1em;  
    color: #535353; 
}

.form_input span {
    position: absolute;
    left: 0;
    padding: 11px;
    pointer-events: none;
    font-size: 13px;
    transition: 0.5s;
}

.form_input input:focus ~ span,
.form_input input:valid ~ span {
    color: #535353;
    transform: translateX(0px) translateY(-18px);
    font-size: 0.65em;
    padding: 0 10px;
}

.form_input input:focus {
    color: #535353;
    outline: 0;
    box-shadow: 0 0 0.5rem 0 rgb(199, 207, 215);
}

.form_input.login {
    position: relative;
    width: 330px;
    margin-top: 25px;
}

.app-info {
    position: relative;
    display: block;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color:#000;
}

.flash-messages {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
    color: red;  
    font-family: Inter;
    font-size: 12px;
    font-style: normal; 
    line-height: normal;
}