@import "base_style.css";

/* -------------------------------------------- LOGIN -------------------------------------------- */
body {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.login_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
}

/* body {  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DFF1FF ;
    font-family: 'Inter', sans-serif;

} */

.login-form {  
    position: relative;
    margin-top: 5%;
    width: 360px;
    height: 350px;
    text-align: center;
    border: 1px solid #dce2e7;;
}

.login-button {
    position: relative;
    width: 90px;
    height: 38px;
    border-radius: 5px;
    text-align: center;
    background: var(--blueA);
    border: none; 
    color: #fff; 
    font-size: 15px; 
    cursor: pointer;
    transition: background 0.3s;
}

.login-button:hover {
    background: #0b8bd5; 
}

.container {
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.container-2 {
    position: relative;
    text-align: center;
    margin-top: 60px;
}

.margin-tb {
    position: relative;
    display: inline-block;
    margin-top: 35px ;
    margin-bottom: 25px;
}

.margin-t {
    position: relative;
    display: inline-block;
    margin-top: 25px ;
}
.doc {
    position: relative;
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.care {
    position: relative;
    color: var(--blueA);
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* input box styles */
.form_input {
    position: relative;
    width: 450px;
}

.disabled-form_input {
    position: relative;
    width: 450px;
}

.form_input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccd7e0;
    outline-color: var(--blueA);
    border-radius: 5px;
    font-size: 1em;  
}

.form_input span {
    position: absolute;
    top: -8px;
    left: 15px;
    padding: 0 10px;
    background: white;
    color: #707c86;
    font-weight: 900;
    font-size: 0.70em;
}

.form_input input:focus {
    color: #6C757D; 
    outline: 0;
    box-shadow: 0 0 0.5rem 0 rgb(199, 207, 215);
}

.form_input.login {
    position: relative;
    width: 300px;
    margin-top: 20px;
}

.app-info {
    position: relative;
    display: block;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color:#000;
}

.flash-messages {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
    color: red;  
    font-family: Inter;
    font-size: 12px;
    font-style: normal; 
    line-height: normal;
}