@import "base_style.css";

/* -------------------------------------------- SIDEBAR USER -------------------------------------------- */
.sidenav-user-bg {
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 65px; 
    background-color: white;
    border-radius: 350px; 
    margin-top: 205px;
    margin-bottom: 25px;
    overflow: hidden;
} 

/* -------------------------------------------- DASHBOARD -------------------------------------------- */
.patient-header p {
    position: absolute;
    top: 50px;
    left: 150px;
    font-weight: 900;
    font-size: 22px;
}

.request-header p {
    position: absolute;
    top: 140px;
    left: 150px;
    font-weight: 900;
    font-size: 22px;
}


/* -------------------------------------------- PATIENT -------------------------------------------- */
/* style here */


/* -------------------------------------------- PROFILE -------------------------------------------- */
/* style here */