@import "base_style.css";

/* SIDEBAR USER */
.sidenav-user-bg {
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 65px; 
    background-color: white;
    border-radius: 350px; 
    margin-top: 205px;
    margin-bottom: 25px;
    overflow: hidden;
}

/* DASHBOARD */
.main-bg {
    width: 1350px; 
    height: 600px; 
    background-color: white;
    box-shadow: 10px 10px 20px 10px var(--blueC);
    border-radius: 12px;
    top: 50%; 
    left: 53%; 
    transform: translate(-50%, -50%);
    position: absolute;
}