@import "base_style.css";

/* -------------------------------------------- DASHBOARD -------------------------------------------- */
.notification-container {
    position: relative;  
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 360px; 
    overflow-y: auto;
    overflow-x: hidden;
}

.notification-container::-webkit-scrollbar {
    width: 10px; 
}

.notification-container::-webkit-scrollbar-thumb {
    background-color: var(--blueB); 
    border-radius: 5px;
}

.notification-container::-webkit-scrollbar-track {
    background-color: none; 
}

.request-header {
    font-weight: 900;
    font-size: 18px;
}

.notif-header {
    position: relative;
    display: flex;
    top: 20px;
    width: 50%;
    left: 20px;
    margin-bottom: 40px;
}

.notif-box {
    display: flex;
    align-items: center;
}

#notifs {
    background-color: var(--blueD);
    margin-left: 0.5rem;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: white;
    font-weight: 800;
    border-radius: 100%;
}

.notif_card {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 1600px;  
    height: 60px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

strong {
    color: var(--blueA);
    cursor: pointer;
}

strong:hover {
    color: var(--blueD);
}

.unread {
    border-left: 3px solid var(--blueB) !important;
    box-shadow: 0 0 1px var(--blueB);
    width: 1600px;   
    height: 60px;
}

.notif_card:hover {
    background-color: #f2f8fd !important;
    cursor: pointer;
}

.unread p:first-of-type::after {
    content: " ";
    background-color: var(--blueD);
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
}

@media screen and (max-width:550px) {
    .container {
        margin: 0;
    }
}

/* -------------------------------------------- PATIENT -------------------------------------------- */
/* style here */


/* -------------------------------------------- PROFILE -------------------------------------------- */
/* style here */