@import "base_style.css";

/* SIDEBAR USER */
.sidenav-user-bg {
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 65px; 
    background-color: white;
    border-radius: 350px; 
    margin-top: 138px;
    margin-bottom: 25px;
    overflow: hidden;
}

/* DASHBOARD */
.add-icon img {
    width: 345px;
    top: 150px;
    left: 260px;
    border-radius: 20px;
} 

.reschedule-icon img {
    width: 345px;
    top: 150px;
    left: 635px;
    border-radius: 20px;
}

.cancel-icon img {
    width: 345px;
    top: 150px;
    left: 1010px;
    border-radius: 20px;
}

.add-icon img,
.reschedule-icon img,
.cancel-icon img {
    position: fixed;
}

.add-icon img:hover,
.reschedule-icon img:hover,
.cancel-icon img:hover {
    transform: scale(101%);
    z-index: 1;
}