.doccare-add-forms-background {
    background: #F7FCFF;
    min-height: 150vh; /* Set minimum height to 100% of the viewport height */
    padding: 20px; /* Add padding to the content inside the background */
}

.appointment-add-forms {
    width: 520px;
    height: 1200px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 5px 20px 0px rgba(2, 119, 189, 0.80);
    box-sizing: border-box;
    margin-left: 6.5%;
    margin-right: 15%;
    text-align: center;
}

.doccare-add-appointment-paragraph p {
    width: 438px;
    color: #000;
    text-align: justify;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    margin-left: 6.5%;
    border-radius: 50px;
    font-weight: 600;
    margin-bottom: 5%;
}


.doccare-forms-appointment{
  text-align: left;
  justify-content: left;  
  align-items: center;
  margin-left: 6.5%;
  padding-top: 15px;
}

.doccare-forms-appointment input {
    width: 450px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 11px;
    border: 3px solid #A3D5FF;
    background: #FFF;
}

.doccare-forms-appointment label {
    color: #363636;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.doccare-forms-appointment select {
    width: 450px;
    height: 45px;
}
.asterisk {
    color:red !important; 
}

.date-format{
    font-weight: normal !important;
}
.doccare-appointment-continue-button, .doccare-appointment-back-button, .doccare-appointment-submit-button, .doccare-done-modal-button {
    width: 112px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #0277BD !important;
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10%;
    transition: transform 0.2s;
    outline: none;
    border: none;
}

.doccare-appointment-continue-button:hover{
    transform:scale(1.25);
    background: #004f7a !important;
}

.doccare-appointment-back-button:hover{
    transform:scale(1.25);
    background: #004f7a !important;
}

.doccare-appointment-submit-button:hover{
    transform:scale(1.25);
    background: #004f7a !important;
}

.doccare-done-modal-button:hover{
    transform:scale(1.25);
    background: #004f7a !important;
}

.doccare-appointment-back-button{
    margin-right: 25%;
}
.doccare-title label {
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    line-height: normal;
}

.doccare-first {
    color: #000;
    font-weight: 400;
}

.doccare-second {
    color: #0277BD;
    font-weight: 700;
}

.doccare-title {
    margin-left: 80%;
    display: flex;
    align-items: center;
}

.doccare-home-icon {
    margin-left: 90%;
    transition: transform 0.2s; /* Add a smooth transition effect for the hover animation */
    cursor: pointer;
}

.doccare-home-icon:hover {
    transform: scale(1.25);
    z-index: 1;
}

.doccare-main-content {
    display: flex;
    align-items: flex-start;
}

.doccare-circle {
    width: 180px;
    height: 185px;
    background: #0277BD;
    border-radius: 50%;
    border: 10px solid white;
    margin-left: 118px;
}

.doccare-rectangle {
    width: 420px;
    height: 100px;
    border-radius: 20px;
    background: #A3D5FF;
    box-shadow: 0px 4px 4px 0px rgba(2, 119, 189, 0.50);
    margin-top: 35%;
}

.doccare-other-things{
    display: inline-block;
    margin-right:15%;
    z-index: 2; 
}

.doccare-form-2-title p{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.overlay-container {
    position: relative;
    margin-top: 300px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure the overlay is on top of other content */
}

.numbers-on-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers-on-top-v2 {
    display: flex;
    justify-content: center;
    align-items: center;
}


.numbers-on-top label {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    text-align: center;
    transition: transform 0.2s;
    margin: 0 2%; /* Adjust margin as needed */
}

.numbers-on-top-v2 label {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    text-align: center;
    transition: transform 0.2s;
    margin-bottom: 15%;
}

.number-one {
    transform: scale(1.25);
    border-radius: 100px;
    background: #0277BD;
}

.number-one-v2 {
    border-radius: 100px;
    background: rgba(2, 119, 189, 0.50);
    margin-right: 20px;
}

.number-two {
    border-radius: 100px;
    background: rgba(2, 119, 189, 0.50);
}

.number-two-v2 {
    border-radius: 100px;
    background: rgba(2, 119, 189, 0.50);
    margin-right: 20px;
}

.number-three {
    border-radius: 100px;
    background: rgba(2, 119, 189, 0.50);
    margin-right: 20px;
}

.number-three-v2 {
    transform: scale(1.00);
    border-radius: 100px;
    background: rgba(2, 119, 189, 0.50);
}

.appointment-first-forms {
    display: block; /* Initially visible */
}

.appointment-second-forms {
    display: none; /* Initially hidden */
}

.numbers-on-top .number-two .number-three {
    transform: scale(1); /* Initial scale */
}

.doccare-success-modal {
    display: none; /* Initial display: block;*/ /*After display: flex; */
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 150vh; /* Set minimum height to 100% of the viewport height */
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: 2; 
}

.doccare-success-modal-content {
    width: 800px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    box-shadow: 0px 5px 20px 0px rgba(2, 119, 189, 0.80);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.doccare-success-modal-content p{
    color: black;
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 5%;
}

.doccare-success-modal-content-2{
    width: 620px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #A3D5FF;
    margin-top: 3%;
}

.doccare-success-modal-content-2 p {
    color: #000;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    margin-left: 2%;
    margin-top: 2%
}

.doccare-success-modal-content button {
    width: 150px;
    height: 48px;
    border-radius: 10px;
    margin: 0 10px;
    cursor: pointer;
    outline: none;
    margin-top: 20%;
}

.muted-text {
    color: #000; /* Use your preferred muted color */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .doccare-add-forms-background {
        padding: 10px; /* Adjust padding for smaller screens */
    }
}