{% extends "base.html" %}
{% block title %}DocCare | Schedule{% endblock title %}
{% block link %} <link rel="stylesheet" href="{{ url_for('static', filename='schedule_style.css') }}"> {% endblock %}

{% block content %}

    <div class="sidenav-bg">
        <div class="cms-logo">
            <img src="{{ url_for('static', filename='/images/DocCare Logo.png') }}">
        </div>
        <ul>
            <li class="notifications">
                <img src="{{ url_for('static', filename='images/Notification.png') }}"> 
            </li>
            <a href="{{ url_for('receptionist.dashboard') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Dashboard.png') }}"> 
                    <p>Dashboard</p>
                </li>
            </a>    
            <a href="{{ url_for('receptionist.calendar') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Calendar.png') }}"> 
                    <p>Calendar</p>
                </li>
            </a>
            <a href="{{ url_for('receptionist.appointment') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Appointment.png') }}"> 
                    <p>Appointment</p>
                </li>
            </a>
            <li class="selected-icon-bg">
                <img src="{{ url_for('static', filename='images/Schedule.png') }}"> 
                <p>Schedule</p>
            </li>
            <a href="{{ url_for('receptionist.patient') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Patient Record.png') }}"> 
                    <p>Patient</p>
                </li>
            </a>
            <a href="{{ url_for('receptionist.profile') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Profile.png') }}"> 
                    <p>Profile</p>
                </li>
            </a>
        </ul>
        <div class="foot-nav">
            <div class="sidenav-user-bg">
                <img src="{{ url_for('static', filename='images/Kurt.png') }}" class="user-img">
                <div>
                    <h3>{{ info[0] }}</h3>
                    <p>{{ info[1] }}</p>
                </div>
            </div>
            <ul>
                <li class="logout" id="logoutButton">
                    <img src="{{ url_for('static', filename='images/Logout.png') }}">
                    <p>Logout</p>
                </li>
            </ul>
        </div>
    </div>

    <!--Content start!-->
    <div class="content">
            <body class="appointment_body">
                <div class="container"> 
                    <main class="doccare-appointment-table">
                        <form id="search-form" role="search">
                            <section class="table__header__appointment">
                                <h1> 
                                    <strong> SCHEDULES </strong> 
                                </h1>
                            </section>
                        </form>
                        <section class="doccare-table-appointment-content">
                            <table id="scheduleTable" class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        {% for header in headings %}
                                            <th>
                                                {{  header }}
                                                <span class="icon-arrow">&UpArrow;</span>
                                            </th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in data %}
                                        <tr>
                                            <td class="doccare-reference-number"> {{ row.scheduleID }} </td>
                                            <td> {{ row.date_appointment }} </td>
                                            <td> {{ row.time_appointment }} </td>
                                            <td> {{ row.slots }}</td>
                                            <td> {{ row.doctorName }} </td>
                                            <td class="table__cell">
                                                <a href="{{ url_for('receptionist.view_schedule', scheduleID=row.scheduleID) }}" class="doccare-view-appointment-icon">
                                                    <span class="material-symbols-outlined">info</span>
                                                </a>
                                                <button type="button" class="edit-appointment-button"
                                                    data-id="{{ row.scheduleID }}"
                                                    data-date="{{ row.date_appointment }}"
                                                    data-time="{{ row.time_appointment }}"
                                                    data-slots="{{ row.slots }}"
                                                    data-doctorName="{{ row.doctorName }}"
                                                    onclick="openEditModal('{{ row.scheduleID }}', '{{ row.doctorName }}')">
                                                    <span class="material-symbols-outlined">edit</span>
                                                </button>                                                                                                                          
                                                <button type="button" class="delete-appointment-button"
                                                    data-id="{{ row.scheduleID }}"
                                                    data-doctorName="{{ row.doctorName }}"
                                                    onclick="openDeleteModal('{{ row.scheduleID }}', '{{ row.doctorName }}')">
                                                <span class="material-symbols-outlined delete-icon">delete</span>
                                            </button>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </section>
                        
                        <div class="overlay-background-container" id="overlayBackgroundContainer">
                            <label class="overlay-background"> </label>
                        </div>    
                        <!-- Modal for Delete Confirmation -->
                        <div id="deleteModal" class="modal">
                            <div class="modal-content">
                                <p>Are you sure you want to delete this schedule?</p>
                                <div class="modal-buttons">
                                    <button class="delete-modal-button" onclick="deleteAppointment()">Yes, delete it!</button>
                                    <button class="cancel-modal-button">Cancel</button>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Modal for Edit Schedule -->
                        <div class="doccare-edit-container" id="editModal">
                            <span class="material-symbols-outlined arrow" id="arrow">arrow_back</span>
                            <header>UPDATE SCHEDULE</header>
                            <form class="needs-validation" method="POST" action="/receptionist/update-schedule/" novalidate>
                                {{ form.hidden_tag()}}
                                <div class="doccare-form-first">
                                    <div class="doccare-appoinment-details">
                                        <span class="title"> Schedule Details </span>
                                        <div class="fields">
                                            <!-- Schedule ID -->
                                            <div class="input-fields">
                                                <label for="validationCustom01" class="form-label"> Schedule ID </label>
                                                <input type="text" class="form-control" id="validationCustom01" name="scheduleID" required readonly aria-describedby="validationCustom01Feedback">
                                            </div>

                                            <!-- Date Appointment -->
                                            <div class="input-fields">
                                                <label for="validationCustom02" class="form-label"> Date Appointment </label>
                                                <input type="date" class="form-control" id="validationCustom02" name="date_appointment" required aria-describedby="validationCustom02Feedback">
                                            </div>

                                            <!-- Time Appointment -->
                                            <div class="input-fields">
                                                <label for="validationCustom03" class="form-label"> Time Appointment </label>
                                                <select class="form-select" id="validationCustom03" name="time_appointment" required aria-describedby="validationCustom03Feedback">
                                                    <option value="" selected disabled>Select your desired time</option>
                                                </select>
                                            </div>

                                            <!-- Status -->
                                            <div class="input-fields">
                                                <label for="validationCustom04" class="form-label">Slots</label>
                                                <select class="form-select" id="validationCustom04" name="slots" required aria-describedby="validationCustom04Feedback">
                                                    <option selected disabled value="">Choose...</option>
                                                    <option value="1"> 1 </option>
                                                    <option value="2"> 2 <option>
                                                    <option value="3"> 3 <option>
                                                </select>
                                            </div>

                                            <!-- Doctor Name -->
                                            <div class="input-fields">
                                                <label for="validationCustom05" class="form-label">Doctor Name</label>
                                                <input type="text" class="form-control" id="validationCustom05" name="doctor_name" required readonly aria-describedby="validationCustom05Feedback">
                                            </div>

                                        </div>

                                        <div>
                                            <!-- Include a hidden input for reference_number to update the correct appoinment -->
                                            <input type="hidden" name="reference_number">
                                            <button type="button" class="doccare-success-button" id="doccare-success-button">Submit</button>
                                        </div>

                                        <!-- Modal for Success Confirmation -->
                                        <div id="doccare-success-confirmation-modal" class="doccare-success-confirmation-modal">
                                            <div class="doccare-success-modal-content">
                                                <span class="material-symbols-outlined check">check_circle</span>
                                                <h1>Well Done!</h1>
                                                <p>The appointment is now updated! </p>
                                                <div class="doccare-success-modal-button">
                                                    <button class="doccare-done-modal-button" id="doccare-done-modal-button">DONE</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modal for Failed Confirmation -->
                                        <div id="doccare-failed-confirmation-modal" class="doccare-failed-confirmation-modal">
                                            <div class="doccare-failed-modal-content">
                                                <span class="material-symbols-outlined error">error</span>
                                                <h1>Something went Wrong!</h1>
                                                <h6>Failed to update the appointment.</h6>
                                                <h6>Please try again. </h6>
                                                <div class="doccare-failed-modal-button">
                                                    <button class="doccare-done-modal-button" id="doccare-done-modal-button">DONE</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <a href="{{ url_for('receptionist.add_schedule') }}" class="doccare-add-appointment-icon" type="button" id="add-appointment-button">
                            <span class="material-symbols-outlined add-icon">&#xe147;</span>
                        </a>
                        <!-- Include these script tags at the end of the body content -->
                        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
                        <script src=" https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
                        <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
                        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
                        <script src="{{ url_for('static', filename='schedule_script.js') }}"> </script>
                        <script src="{{ url_for('static', filename='logout.js') }}"></script>  
                        <script>
                            $(document).ready( function () {
                                $('#scheduleTable').DataTable();
                            } );
                            // Update the time_appointment dropdown based on the selected date
                            $('#validationCustom02').on('change', function () {
                                var selectedDate = $(this).val();
                                var selectedDoctor = $('#validationCustom11').val(); // Get the selected doctorName

                                // Generate time schedules with 30-minute intervals
                                var timeSchedules = generateTimeSchedules();

                                // Update the options of the time_appointment dropdown
                                var timeDropdown = $('#validationCustom02');
                                timeDropdown.empty();
                                timeDropdown.append('<option value="" selected>Select your desired time</option>');

                                // Add options based on the generated time schedules
                                for (var i = 0; i < timeSchedules.length; i++) {
                                    var timeSlot = timeSchedules[i];
                                    timeDropdown.append('<option value="' + timeSlot + '">' + timeSlot + '</option>');
                                }
                            });

                            // Function to generate time schedules with 30-minute intervals
                            function generateTimeSchedules() {
                                var timeSchedules = [];
                                var startTime = moment('08:00 AM', 'hh:mm A');
                                var endTime = moment('05:00 PM', 'hh:mm A');

                                while (startTime.isBefore(endTime)) {
                                    var timeSlot = startTime.format('hh:mm A') + ' - ' + startTime.add(30, 'minutes').format('hh:mm A');
                                    timeSchedules.push(timeSlot);
                                }

                                return timeSchedules;
                            }

                            // Example: Retrieve the selected option's time information
                            $('#validationCustom02').on('change', function () {
                                var selectedOption = $(this).find(':selected');
                                var timeSlot = selectedOption.val();
                                console.log('Selected Time Slot:', timeSlot);
                            });
                        </script>                  
                    </main>
                </div>
            </body>
    </div>
    
{% endblock %}