{% extends "base.html" %}
{% block title %}DocCare | Patient{% endblock title %}
{% block link %} <link rel="stylesheet" href="{{ url_for('static', filename='medtech_style.css') }}"> {% endblock %}
{% block content %}
    <div class="sidenav-bg">
        <div class="cms-logo">
            <img src="{{ url_for('static', filename='/images/DocCare Logo.png') }}">
        </div>
        <ul>
            <a href="{{ url_for('medtech.dashboard') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Dashboard.png') }}"> 
                    <p>Dashboard</p>
                </li>
            </a>
            <li class="selected-icon-bg">
                <img src="{{ url_for('static', filename='images/Patient Record.png') }}"> 
                <p>Patient</p>
            </li>
            <!-- <a href="{{ url_for('medtech.profile') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Profile.png') }}"> 
                    <p>Profile</p>
                </li>
            </a> -->
        </ul>
        <div class="foot-nav">
            <div class="sidenav-user-bg">
                <img src="{{ url_for('static', filename='images/Edward.png') }}" class="user-img">
                <div>
                    <h3>{{ info[0] }}</h3>
                    <p>{{ info[2] }}</p>
                </div>
            </div>
            <ul>
                <li class="logout" id="logoutButton">
                    <img src="{{ url_for('static', filename='images/Logout.png') }}">
                    <p>Logout</p>
                </li>
            </ul>
        </div>
    </div>

    <main>
        <div class="navbar">
            <!-- PATIENT RECORD -->
            <div class="patient-header">
                <p>LABORATORY REPORTS</p>
            </div>  
        </div>
        
        <div class="grid_container medtech">
            <div class="grid_item">
                <center>
                    <div class="patient-table">
                        <table id="patientTable" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>SUBJECT</th>
                                    <th>PATIENT NAME</th>
                                    <th>GENDER</th>
                                    <th>PHYSICIAN</th>
                                    <th>DATE</th>
                                    <th>LAB REPORT</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for labrequest in labrequests %}
                                <tr>
                                    <td>{{ labrequest[2] }}</td>
                                    <td>{{ labrequest[3] }}</td>
                                    <td>{{ labrequest[4] }}</td>
                                    <td>{{ labrequest[5] }}</td>
                                    <td>{{ labrequest[7] }}</td>
                                    <td>
                                        <!-- VIEW RECORD -->
                                        <form method="GET" action="/medtech/laboratory_report/">
                                            <div class="delete-icon">
                                                <input id="order_id" name="order_id" value="{{ labrequest[0] }}" hidden>
                                                <input id="patient_id" name="patient_id" value="{{ labrequest[1] }}" hidden>
                                                <input id="report_id" name="report_id" value="{{ labrequest[6] }}" hidden>
                                                <button type="submit" style="background: none; border: none;">
                                                    <img src="{{ url_for('static', filename='images/Folder.png') }}" title="Lab Report">
                                                </button>
                                            </div>
                                        </form> 
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </center>
            </div>
        </div>

    </main>

    <div id="toast-container">
        
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src=" https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script>
        new DataTable('#patientTable');

        // LAB REQUEST NOTIFICATION
        const unreadMessages = document.querySelectorAll(".unread");

        function updateUnreadCount() {
            const unread = document.getElementById("notifs");
            unread.innerText = unreadMessages.length;

            if (unreadMessages.length > 0) {
                const newNotifs = document.getElementById('new-notifs');
                newNotifs.style.display = 'block';
            }
        }

        function markAsRead(message) {
            message.classList.remove("unread");
            updateUnreadCount();
        }

        // NOTIFICATION
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function () {
            console.log('Connected to Socket.IO');
        });
    
        socket.on('send_notification_medtech', function (data) {
            const notificationMessage = data.message;
            console.log('Received notification:', notificationMessage);
            displayToast(notificationMessage);
        });
    
        function displayToast(message) {
           
            var toastContainer = document.getElementById('toast-container');
            var newToast = document.createElement('div');
            newToast.className = 'toast hide';
            newToast.innerHTML = `
                <div class="toast-header">
                    <strong class="mr-auto">NOTIFICATION</strong>
                    <button type="button" class="close-btn" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="notification-body toast-body">
                    ${message}
                </div>
            `;

            toastContainer.appendChild(newToast);
    
            newToast.classList.add('show');
    
            var closeButton = newToast.querySelector('.close-btn');
            closeButton.addEventListener('click', function () {
                newToast.classList.remove('show');
                setTimeout(function () {
                    newToast.remove(); 
                }, 500); 
            });
        }
    </script>

{% endblock %}