{% extends "base.html" %}
{% block title %}DocCare | Patient{% endblock title %}
{% block link %} <link rel="stylesheet" href="{{ url_for('static', filename='medtech_style.css') }}"> {% endblock %}
{% block content %}
    <div class="sidenav-bg">
        <div class="cms-logo">
            <img src="{{ url_for('static', filename='/images/DocCare Logo.png') }}">
        </div>
        <ul>
            <a href="{{ url_for('medtech.dashboard') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Dashboard.png') }}"> 
                    <p>Dashboard</p>
                </li>
            </a>
            <li class="selected-icon-bg">
                <img src="{{ url_for('static', filename='images/Patient Record.png') }}"> 
                <p>Patient</p>
            </li>
            <a href="{{ url_for('medtech.profile') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Profile.png') }}"> 
                    <p>Profile</p>
                </li>
            </a>
        </ul>
        <div class="sidenav-user-bg">
            <img src="{{ url_for('static', filename='images/Edward.png') }}" class="user-img">
            <div>
                <h3>{{ info[0] }}</h3>
                <p>{{ info[2] }}</p>
            </div>
        </div>
        <ul>
            <li class="logout" id="logoutButton">
                <img src="{{ url_for('static', filename='images/Logout.png') }}">
                <p>Logout</p>
            </li>
        </ul>
    </div>
    
    <!-- PATIENT RECORD -->
    <div class="patient-header">
        <p>LABORATORY REPORTS</p>
    </div>

    <div class="patient-table">
        <table id="patientTable" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>SUBJECT</th>
                    <th>PATIENT NAME</th>
                    <th>GENDER</th>
                    <th>PHYSICIAN</th>
                    <th>DATE</th>
                    <th>LAB REPORT</th>
                </tr>
            </thead>
            <tbody>
                {% for labrequest in labrequests %}
                <tr>
                    <td>{{ labrequest[2] }}</td>
                    <td>{{ labrequest[3] }}</td>
                    <td>{{ labrequest[4] }}</td>
                    <td>{{ labrequest[5] }}</td>
                    <td>{{ labrequest[7] }}</td>
                    <td>
                        <!-- VIEW RECORD -->
                        <form method="GET" action="/medtech/laboratory_report/">
                            <div class="delete-icon">
                                <input id="order_id" name="order_id" value="{{ labrequest[0] }}" hidden>
                                <input id="patient_id" name="patient_id" value="{{ labrequest[1] }}" hidden>
                                <input id="report_id" name="report_id" value="{{ labrequest[6] }}" hidden>
                                <button type="submit" style="background: none; border: none;">
                                    <img src="{{ url_for('static', filename='images/Folder.png') }}" title="Lab Report">
                                </button>
                            </div>
                        </form> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Confirmation Modal -->
    <div id="confirmationModal" class="modal" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Delete Report</h1>
                </div>
                <div class="modal-body">
                    Are you sure you want to permanently delete the laboratory report?
                </div>
                <div class="modal-footer">
                    <button id="confirmDelete" class="btn-done">CONFIRM</button>
                    <button id="cancelDelete" class="btn-done cancel">CANCEL</button>
                </div>
            </div>
        </div>
    </div>

    {% if success %}
        <div id="successModal" class="modal" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Success</h1>
                    </div>
                    <div class="modal-body">
                        Patient's laboratory report has been deleted successfully!
                    </div>
                    <a href="{{ url_for('medtech.patient') }}"> 
                        <div class="modal-footer">
                            <button id="successSave" type="button" class="btn-done">DONE</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% elif error %}
        <div id="errorModal" class="modal" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Error</h1>
                    </div>
                    <div class="modal-body">
                        Error in deleting patient laboratory report. Please try again.
                    </div>
                    <a href="{{ url_for('medtech.patient') }}">
                        <div class="modal-footer">
                            <button id="errorDismiss" type="button" class="btn-done">OKAY</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src=" https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script>
        new DataTable('#patientTable');

        // CONFIRMATION BEFORE DELETION
        function confirmation(reportId, orderId){
            const confirmationModal = document.getElementById("confirmationModal");
            confirmationModal.style.display = "block";

            const confirmDelete = document.getElementById("confirmDelete");
            const cancelDelete = document.getElementById("cancelDelete");
            console.log(reportId)
            console.log(orderId)
            confirmDelete.addEventListener("click", function() {
                document.getElementById("deleteForm_" + reportId + "_" + orderId).submit();
            });
    
            cancelDelete.addEventListener("click", function() {
                confirmationModal.style.display = "none";
            });
        }

        // LAB REQUEST NOTIFICATION
        const unreadMessages = document.querySelectorAll(".unread");

        function updateUnreadCount() {
            const unread = document.getElementById("notifs");
            unread.innerText = unreadMessages.length;

            if (unreadMessages.length > 0) {
                const newNotifs = document.getElementById('new-notifs');
                newNotifs.style.display = 'block';
            }
        }

        function markAsRead(message) {
            message.classList.remove("unread");
            updateUnreadCount();
        }

        function markAllAsRead() {
            unreadMessages.forEach(message => {
                message.classList.remove("unread");
            });
            updateUnreadCount();
        }
    </script>

{% endblock %}