{% extends "base.html" %}
{% block title %}DocCare | Profile{% endblock title %}
{% block link %} <link rel="stylesheet" href="{{ url_for('static', filename='medtech_style.css') }}"> {% endblock %}
{% block content %}
    <div class="sidenav-bg">
        <div class="cms-logo">
            <img src="{{ url_for('static', filename='/images/DocCare Logo.png') }}">
        </div>
        <ul>
            <a href="{{ url_for('medtech.dashboard') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Dashboard.png') }}"> 
                    <p>Dashboard</p>
                </li>
            </a>
            <a href="{{ url_for('medtech.patient') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Patient Record.png') }}"> 
                    <p>Patient</p>
                </li>
            </a>
            <li class="selected-icon-bg">
                <img src="{{ url_for('static', filename='images/Profile.png') }}"> 
                <p>Profile</p>
            </li>
        </ul>
        <div class="foot-nav">
            <div class="sidenav-user-bg">
                <img src="{{ url_for('static', filename='images/Edward.png') }}" class="user-img">
                <div>
                    <h3>{{ info[0] }}</h3>
                    <p>{{ info[2] }}</p>
                </div>
            </div>
            <ul>
                <li class="logout" id="logoutButton">
                    <img src="{{ url_for('static', filename='images/Logout.png') }}">
                    <p>Logout</p>
                </li>
            </ul>
        </div>
    </div>

    <div id="toast-container">
        
    </div>

    <script>
        // NOTIFICATION
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function () {
            console.log('Connected to Socket.IO');
        });
    
        socket.on('send_notification_medtech', function (data) {
            const notificationMessage = data.message;
            console.log('Received notification:', notificationMessage);
            displayToast(notificationMessage);
        });
    
        function displayToast(message) {
           
            var toastContainer = document.getElementById('toast-container');
            var newToast = document.createElement('div');
            newToast.className = 'toast hide';
            newToast.innerHTML = `
                <div class="toast-header">
                    <strong class="mr-auto">NOTIFICATION</strong>
                    <button type="button" class="close-btn" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="notification-body toast-body">
                    ${message}
                </div>
            `;

            toastContainer.appendChild(newToast);
    
            newToast.classList.add('show');
    
            var closeButton = newToast.querySelector('.close-btn');
            closeButton.addEventListener('click', function () {
                newToast.classList.remove('show');
                setTimeout(function () {
                    newToast.remove(); 
                }, 500); 
            });
        }
    </script>

{% endblock %}