{% extends "base.html" %}
{% block title %}DocCare | Assessment{% endblock title %}
{% block link %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='doctor_style.css') }}">
{% endblock %}

{% block content %}

    <!-- SIDE NAVIGATION -->
    <div class="sidenav-bg">
        <div class="cms-logo">
            <img src="{{ url_for('static', filename='/images/DocCare Logo.png') }}">
        </div>
        <ul>
            <a href="{{ url_for('doctor.dashboard') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Dashboard.png') }}"> 
                    <p>Dashboard</p>
                </li>
            </a>
            <a href="{{ url_for('doctor.calendar') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Calendar.png') }}"> 
                    <p>Calendar</p>
                </li>
            </a>
            <a href="{{ url_for('doctor.appointment') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Appointment.png') }}"> 
                    <p>Appointment</p>
                </li>
            </a>
            <li class="selected-icon-bg">
                <img src="{{ url_for('static', filename='images/Patient Record.png') }}"> 
                <p>Patient</p>
            </li>
            <a href="{{ url_for('doctor.profile') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Profile.png') }}"> 
                    <p>Profile</p>
                </li>
            </a>
        </ul>
        <div class="sidenav-user-bg">
            <img src="{{ url_for('static', filename='images/Eda.png') }}" class="user-img">
            <div>
                <h3>Eda Grace P.</h3>
                <p>Family Medicine</p>
            </div>
        </div>
        <ul>
            <a href="{{ url_for('doctor.logout') }}">
                <li class="logout">
                    <img src="{{ url_for('static', filename='images/Logout.png') }}">
                    <p>Logout</p>
                </li>
            </a>
        </ul>
    </div>

    <!-- NAVBAR AND TABS FOR PATIENT RECORDS -->
    <a class="back-icon" href="{{ url_for('doctor.consultation', patient_id=patient_id) }}">
        <img src="{{ url_for('static', filename='images/Back.png') }}">
    </a>

    <ul class="nav nav-underline">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page">MEDICAL ASSESSMENT</a>
        </li>
    </ul>

    <!-- MEDICAL ASSESSMENT -->
    <form action="{{ url_for('doctor.add_assessment') }}" method="POST">
        {{ PatientForm.csrf_token }}

        <!-- PATIENT ID -->
        <div class="inputBox code" style="display: none;">
            <input disabled name="patient_id" value="{{ patient_id }}">
            <input hidden name="patient_id" value="{{ patient_id }}">
        </div>

        <!-- MEDICAL ASSESSMENT -->
        <div class="patient-bg assessment">
    
            <!-- CHIEF COMPLAINTS -->
            <div class="med-header A">CHIEF COMPLAINTS</div>
            <div class="inputBox subject">
                <input type="text" name="subject">
                <span>SUBJECT</span>
            </div>
            <div class="p_row one">
                <div class="inputBox complaints">
                    <textarea class="complaints" name="complaints" rows="2" placeholder="List down the complaints of the patient"></textarea>
                </div>
            </div>
    
            <!-- HISTORY OF PRESENT ILLNESS -->
            <div class="med-header H">HISTORY OF PRESENT ILLNESS</div>
            <div class="p_row ten">
                <div class="inputBox complaints">
                    <textarea class="complaints" name="h_illness" rows="2" placeholder="Enter the present history of the illness"></textarea>
                </div>
            </div>
    
            <!-- VITAL SIGNS -->
            <div class="med-header I">VITAL SIGNS</div>
            <div class="p_row vitalRowA">
                <div class="inputBox vitalsA">
                    <input type="text" name="blood_p">
                    <span>BLOOD PRESSURE</span>
                </div>
                <div class="inputBox vitalsB">
                    <input type="text" name="pulse_r">
                    <span>PULSE RATE</span>
                </div>
                <div class="inputBox vitalsB">
                    <input type="text" name="temp">
                    <span>TEMPERATURE</span>
                </div>
                <div class="inputBox vitalsA">
                    <input type="text" name="respiratory_r">
                    <span>RESPIRATORY RATE</span>
                </div>
            </div>
    
            <div class="p_row vitalRowB">
                <div class="inputBox vitalsA">
                    <input type="text" name="height">
                    <span>HEIGHT</span>
                </div>
                <div class="inputBox vitalsA">
                    <input type="text" name="weight">
                    <span>WEIGHT</span>
                </div>
                <div class="inputBox vitalsA">
                    <input type="text" name="body_mass">
                    <span>BODY MASS INDEX</span>
                </div>
            </div>
    
            <!-- PHYSICAL EXAMINATIONS -->
            <div class="med-header J">PHYSICAL EXAMINATIONS</div>
            <div class="p_row vitalRowC">
                <p>HEAD</p>
                <div class="inputBox vitalsC">
                    <input type="text" name="normal_head">
                    <span>NORMAL</span>
                </div>
                <div class="inputBox vitalsD">
                    <input type="text" name="abnormalities_head">
                    <span>ABNORMALITIES <em>(specify)</em></span>
                </div>
            </div>
            <div class="p_row vitalRowD">
                <p>EARS</p>
                <div class="inputBox vitalsC">
                    <input type="text" name="normal_ears">
                    <span>NORMAL</span>
                </div>
                <div class="inputBox vitalsD">
                    <input type="text" name="abnormalities_ears">
                    <span>ABNORMALITIES <em>(specify)</em></span>
                </div>
            </div>
            <div class="p_row vitalRowD">
                <p>EYES</p>
                <div class="inputBox vitalsC">
                    <input type="text" name="normal_eyes">
                    <span>NORMAL</span>
                </div>
                <div class="inputBox vitalsD">
                    <input type="text" name="abnormalities_eyes">
                    <span>ABNORMALITIES <em>(specify)</em></span>
                </div>
            </div>
            <div class="p_row vitalRowD">
                <p>NOSE</p>
                <div class="inputBox vitalsC">
                    <input type="text" name="normal_nose">
                    <span>NORMAL</span>
                </div>
                <div class="inputBox vitalsD">
                    <input type="text" name="abnormalities_nose">
                    <span>ABNORMALITIES <em>(specify)</em></span>
                </div>
            </div>
            <div class="p_row vitalRowD">
                <p>SKIN</p>
                <div class="inputBox vitalsC">
                    <input type="text" name="normal_skin">
                    <span>NORMAL</span>
                </div>
                <div class="inputBox vitalsD">
                    <input type="text" name="abnormalities_skin">
                    <span>ABNORMALITIES <em>(specify)</em></span>
                </div>
            </div>
            <div class="p_row vitalRowE">
                <p>BACK</p>
                <div class="inputBox vitalsC">
                    <input type="text" name="normal_back">
                    <span>NORMAL</span>
                </div>
                <div class="inputBox vitalsD">
                    <input type="text" name="abnormalities_back">
                    <span>ABNORMALITIES <em>(specify)</em></span>
                </div>
            </div>
            <div class="p_row vitalRowE">
                <p>NECK</p>
                <div class="inputBox vitalsC">
                    <input type="text" name="normal_neck">
                    <span>NORMAL</span>
                </div>
                <div class="inputBox vitalsD">
                    <input type="text" name="abnormalities_neck">
                    <span>ABNORMALITIES <em>(specify)</em></span>
                </div>
            </div>
            <div class="p_row vitalRowE">
                <p>THROAT</p>
                <div class="inputBox vitalsC">
                    <input type="text" name="normal_throat">
                    <span>NORMAL</span>
                </div>
                <div class="inputBox vitalsE">
                    <input type="text" name="abnormalities_throat">
                    <span>ABNORMALITIES <em>(specify)</em></span>
                </div>
            </div>
            <div class="p_row vitalRowE">
                <p>CHEST</p>
                <div class="inputBox vitalsC">
                    <input type="text" name="normal_chest">
                    <span>NORMAL</span>
                </div>
                <div class="inputBox vitalsF">
                    <input type="text" name="abnormalities_chest">
                    <span>ABNORMALITIES <em>(specify)</em></span>
                </div>
            </div>
            <div class="p_row vitalRowE">
                <p>ABDOMEN</p>
                <div class="inputBox vitalsC">
                    <input type="text" name="normal_abdomen">
                    <span>NORMAL</span>
                </div>
                <div class="inputBox vitalsG">
                    <input type="text" name="abnormalities_abdomen">
                    <span>ABNORMALITIES <em>(specify)</em></span>
                </div>
            </div>
            <div class="p_row vitalRowE">
                <p>UPPER EXTREMITIES</p>
                <div class="inputBox vitalsC">
                    <input type="text" name="normal_upper">
                    <span>NORMAL</span>
                </div>
                <div class="inputBox vitalsH">
                    <input type="text" name="abnormalities_upper">
                    <span>ABNORMALITIES <em>(specify)</em></span>
                </div>
            </div>
            <div class="p_row vitalRowE">
                <p>LOWER EXTREMITIES</p>
                <div class="inputBox vitalsC">
                    <input type="text" name="normal_lower">
                    <span>NORMAL</span>
                </div>
                <div class="inputBox vitalsI">
                    <input type="text" name="abnormalities_lower">
                    <span>ABNORMALITIES <em>(specify)</em></span>
                </div>
            </div>
            <div class="p_row vitalRowE">
                <p>GENITOURINARY TRACT</p>
                <div class="inputBox vitalsC">
                    <input type="text" name="normal_tract">
                    <span>NORMAL</span>
                </div>
                <div class="inputBox vitalsJ">
                    <input type="text" name="abnormalities_tract">
                    <span>ABNORMALITIES <em>(specify)</em></span>
                </div>
            </div>
            <div class="p_row vitalRowF">
                <div class="inputBox complaints">
                    <textarea class="complaints" name="comments" rows="2" placeholder="Enter additional comments"></textarea>
                </div>
            </div>
    
            <!-- DIAGNOSIS -->
            <div class="med-header K">DIAGNOSIS</div>
            <div class="p_row vitalRowH">
                <div class="inputBox complaints">
                    <textarea class="complaints" name="diagnosis" rows="2" placeholder="Enter additional comments"></textarea>
                </div>
            </div>
            <div class="btn-container">
                <button class="btn-submit" type="submit" id="updateButton">SUBMIT</button>
            </div>
        </div>
    </form>

    {% if success %}
        <div id="successModal" class="modal" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Success</h1>
                    </div>
                    <div class="modal-body">
                        Patient medical assessment added successfully!
                    </div>
                    <a href="{{ url_for('doctor.consultation', patient_id=patient[0]) }}"> 
                        <div class="modal-footer">
                            <button id="successSave" type="button" class="btn-done">DONE</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% elif error %}
        <div id="errorModal" class="modal" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Error</h1>
                    </div>
                    <div class="modal-body">
                        Error in adding patient medical information.
                    </div>
                    <a href="{{ url_for('doctor.consultation', patient_id=patient[0]) }}">
                        <div class="modal-footer">
                            <button id="errorDismiss" type="button" class="btn-done">OKAY</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    
{% endblock %}