{% extends "base.html" %}
{% block title %}DocCare | Assessment{% endblock title %}
{% block link %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='doctor_style.css') }}">
{% endblock %}

{% block content %}

    <!-- SIDE NAVIGATION -->
    <div class="sidenav-bg">
        <div class="cms-logo">
            <img src="{{ url_for('static', filename='/images/DocCare Logo.png') }}">
        </div>
        <ul>
            <li class="notifications">
                <img src="{{ url_for('static', filename='images/Notification.png') }}"> 
            </li>
            <a href="{{ url_for('doctor.dashboard') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Dashboard.png') }}"> 
                    <p>Dashboard</p>
                </li>
            </a>
            <a href="{{ url_for('doctor.calendar') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Calendar.png') }}"> 
                    <p>Calendar</p>
                </li>
            </a>
            <a href="{{ url_for('doctor.appointment') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Appointment.png') }}"> 
                    <p>Appointment</p>
                </li>
            </a>
            <a href="{{ url_for('doctor.schedule') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Schedule.png') }}"> 
                    <p>Schedule</p>
                </li>
            </a>
            <li class="selected-icon-bg">
                <img src="{{ url_for('static', filename='images/Patient Record.png') }}"> 
                <p>Patient</p>
            </li>
            <a href="{{ url_for('doctor.profile') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Profile.png') }}"> 
                    <p>Profile</p>
                </li>
            </a>
        </ul>
        <div class="foot-nav">
            <div class="sidenav-user-bg">
                <img src="{{ url_for('static', filename='images/Eda.png') }}" class="user-img">
                <div>
                    <h3>{{ info[0] }}</h3>
                    <p>{{ info[2] }}</p>
                </div>
            </div>
            <ul>
                <li class="logout" id="logoutButton">
                    <img src="{{ url_for('static', filename='images/Logout.png') }}">
                    <p>Logout</p>
                </li>
            </ul>
        </div>
    </div>

    <main>
        <!-- NAVBAR AND TABS FOR PATIENT RECORDS -->
        <div class="navbar">
            <ul class="nav nav-underline">
                <a class="back-icon" href="{{ url_for('doctor.patient') }}">
                    <img src="{{ url_for('static', filename='images/Back.png') }}">
                </a>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('doctor.patient_record', patient_id=patient_id) }}">PATIENT INFORMATION</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('doctor.medical_history', patient_id=patient_id) }}">MEDICAL HISTORY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">MEDICAL ASSESSMENT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('doctor.lab_results', patient_id=patient_id) }}">LABORATORY REPORTS</a>
                </li>
            </ul>

            <div class="add-icon patient" id="addAssessmentIcon" onclick="displayModal()">
                <img src="{{ url_for('static', filename='images/Add Icon.png') }}">
            </div>
        </div>

        <center>
            <!-- MEDICAL ASSESSMENT -->
            <div class="patient-bg">
                <div class="grid_container consultation">
                    <div class="grid_item">

                        <div id="toggleContent1">
                            <div class="assessment-table">
                                <table id="example" class="table table-striped" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>HEALTH COMPLAINT</th>
                                            <th>DATE</th>
                                            <th>ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for consultation in consultations %}
                                        <tr>
                                            <td>{{ consultation[2] }}</td>
                                            <td>{{ consultation[42] }}</td>
                                            <td>
                                                <div class="action-icon-container">
                                                    <!-- ASSESSMENT -->
                                                    <form method="GET" action="/doctor/assessment/">
                                                        <input id="assessment_id" name="assessment_id" value="{{ consultation[0] }}" hidden>
                                                        <input id="patient_id" name="patient_id" value="{{ consultation[1] }}" hidden>
                                                        <div class="delete-icon">
                                                            <button type="submit" style="background: none; border: none;">
                                                                <img src="{{ url_for('static', filename='images/Folder.png') }}" title="Assessment">
                                                            </button>
                                                        </div>
                                                    </form> 
            
                                                    <!-- PRESCRIPTION -->
                                                    <form method="GET" action="/doctor/prescription/">
                                                        <input id="assessment_id" name="assessment_id" value="{{ consultation[0] }}" hidden>
                                                        <input id="patient_id" name="patient_id" value="{{ consultation[1] }}" hidden>
                                                        <div class="delete-icon">
                                                            <button type="submit" style="background: none; border: none;">
                                                                <img src="{{ url_for('static', filename='images/Prescription.png') }}" title="Prescription">
                                                            </button>
                                                        </div>
                                                    </form> 
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div id="toggleContent2" style="display: none;">
                            <div class="assessment-table">
                                <table id="example" class="table table-striped" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>CERTIFICATE</th>
                                            <th>DATE</th>
                                            <th>ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for certificate in certificates %}
                                        <tr>
                                            <td>{{ certificate[2] }}</td>
                                            <td>{{ certificate[16] }}</td>
                                            <td>
                                                <div class="action-icon-container">
                                                    <!-- CERTIFICATE -->
                                                    <form method="GET" action="/doctor/certificate/">
                                                        <input id="certificate_id" name="certificate_id" value="{{ certificate[0] }}" hidden>
                                                        <input id="patient_id" name="patient_id" value="{{ certificate[1] }}" hidden>
                                                        <div class="delete-icon">
                                                            <button type="submit" style="background: none; border: none;">
                                                                <img src="{{ url_for('static', filename='images/Folder.png') }}" title="Certificate">
                                                            </button>
                                                        </div>
                                                    </form> 
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div id="toggleContent3" style="display: none;">
                            <div class="assessment-table">
                                <table id="example" class="table table-striped" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>CLEARANCE</th>
                                            <th>DATE</th>
                                            <th>ACTION</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for clearance in clearances %}
                                        <tr>
                                            <td>{{ clearance[2] }}</td>
                                            <td>{{ clearance[16] }}</td>
                                            <td>
                                                <div class="action-icon-container">
                                                    <!-- CLEARANCE -->
                                                    <form method="GET" action="/doctor/clearance/">
                                                        <input id="clearance_id" name="clearance_id" value="{{ clearance[0] }}" hidden>
                                                        <input id="patient_id" name="patient_id" value="{{ clearance[1] }}" hidden>
                                                        <div class="delete-icon">
                                                            <button type="submit" style="background: none; border: none;">
                                                                <img src="{{ url_for('static', filename='images/Folder.png') }}" title="Clearance">
                                                            </button>
                                                        </div>
                                                    </form> 
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                    <div class="grid_item">
                        <div class="segmented-controls">
                            <input type="radio" id="option1Toggle" name="segment" checked>
                            <label for="option1Toggle">HEALTH COMPLAINT</label>
                        
                            <input type="radio" id="option2Toggle" name="segment">
                            <label for="option2Toggle">MEDICAL CERTIFICATE</label>
        
                            <input type="radio" id="option3Toggle" name="segment">
                            <label for="option3Toggle">MEDICAL CLEARANCE</label>
                        </div>
                    </div>
                </div>
            </div>
        </center>
        
    </main>

    <!-- Consultation Modal -->
    <div id="consultationModal" class="modal" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Select Medical Consultation</h1>
                </div>
                <div class="modal-body">
                    <button id="healthComplaint" class="btn-done option">Health Complaint</button>
                    <button id="medicalCertificate" class="btn-done option">Medical Certificate</button>
                    <button id="medicalClearance" class="btn-done option">Medical Clearance</button>
                </div>
                <div class="modal-footer">
                    <button id="cancelSelection" class="btn-done cancel">CANCEL</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function displayModal() {
            var modal = document.getElementById("consultationModal");
            modal.style.display = "block";
        }

        document.getElementById("healthComplaint").onclick = function() {
            window.location.href = "{{ url_for('doctor.add_assessment', patient_id=patient[0]) }}";
        };

        document.getElementById("medicalClearance").onclick = function() {
            window.location.href = "{{ url_for('doctor.add_clearance', patient_id=patient[0]) }}";
        };
        
        document.getElementById("medicalCertificate").onclick = function() {
            window.location.href = "{{ url_for('doctor.add_certificate', patient_id=patient[0]) }}";
        };
        
        document.getElementById("cancelSelection").onclick = function() {
            var modal = document.getElementById("consultationModal");
            modal.style.display = "none";
        };

        // VIEW ASSESSMENT TABLES
        const optionToggles = document.querySelectorAll('[id^="option"]');
        const toggleContents = document.querySelectorAll('[id^="toggleContent"]');

        optionToggles.forEach((toggle, index) => {
            toggle.addEventListener('click', function() {
                toggleContents.forEach((content, contentIndex) => {
                    if (index === contentIndex) {
                        content.style.display = 'block';
                    } else {
                        content.style.display = 'none';
                    }
                });
            });
        });
    </script>
    

{% endblock %}