{% extends "base.html" %}
{% block title %}DocCare | Assessment{% endblock title %}
{% block link %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='doctor_style.css') }}">
{% endblock %}

{% block content %}

    <!-- SIDE NAVIGATION -->
    <div class="sidenav-bg">
        <div class="cms-logo">
            <img src="{{ url_for('static', filename='/images/DocCare Logo.png') }}">
        </div>
        <ul>
            <a href="{{ url_for('doctor.dashboard') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Dashboard.png') }}"> 
                    <p>Dashboard</p>
                </li>
            </a>
            <a href="{{ url_for('doctor.calendar') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Calendar.png') }}"> 
                    <p>Calendar</p>
                </li>
            </a>
            <a href="{{ url_for('doctor.appointment') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Appointment.png') }}"> 
                    <p>Appointment</p>
                </li>
            </a>
            <li class="selected-icon-bg">
                <img src="{{ url_for('static', filename='images/Patient Record.png') }}"> 
                <p>Patient</p>
            </li>
            <a href="{{ url_for('doctor.profile') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Profile.png') }}"> 
                    <p>Profile</p>
                </li>
            </a>
        </ul>
        <div class="sidenav-user-bg">
            <img src="{{ url_for('static', filename='images/Eda.png') }}" class="user-img">
            <div>
                <h3>Eda Grace P.</h3>
                <p>Family Medicine</p>
            </div>
        </div>
        <ul>
            <li class="logout" id="logoutButton">
                <img src="{{ url_for('static', filename='images/Logout.png') }}">
                <p>Logout</p>
            </li>
        </ul>
    </div>

    <!-- NAVBAR AND TABS FOR PATIENT RECORDS -->
    <a class="back-icon" href="{{ url_for('doctor.consultation', patient_id=patient_id) }}">
        <img src="{{ url_for('static', filename='images/Back.png') }}">
    </a>

    <ul class="nav nav-underline">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page">PRESCRIPTION</a>
        </li>
    </ul>

    <form id="prescriptionForm" action="{{ url_for('doctor.prescription') }}">

        <!-- PRESCRIPTION ID -->
        <!-- <div class="inputBox code" style="display: none;">
            <input disabled name="prescription_id" value="{{ consultation[0] }}">
            <input hidden name="prescription_id" value="{{ consultation[0] }}" >
        </div> -->

        <!-- ASSESSMENT ID -->
        <div class="inputBox code" style="display: none;">
            <input disabled name="assessment_id" value="{{ consultation[0] }}">
            <input hidden name="assessment_id" value="{{ consultation[0] }}" >
        </div>

        <!-- PATIENT ID -->
        <div class="inputBox code" style="display: none;">
            <input disabled name="patient_id" value="{{ consultation[1] }}">
            <input hidden name="patient_id" value="{{ consultation[1] }}" >
        </div>

        <!-- PRESCRIPTION -->
        <div class="patient-bg prescription">
            <div class="cms-logo prescription">
                <p class="doc">Doc</p>
                <h4 class="care">Care</h4>
            </div>

            <div class="rx">
                <img src="{{ url_for('static', filename='/images/Rx.png') }}">
            </div>

            <div class="line-border"></div>

            <h4 class="columnA">NAME:</h4>
            <p class="columnB">{{ patient[1] }} {{ patient[3] }}</p>

            <h4 class="columnC">DATE:</h4>
            <p class="columnD" id="prescriptionDate"></p>

            <h4 class="columnA address">ADDRESS:</h4>
            <p class="columnB p_adress">{{ patient[10] }}</p>

            <h4 class="columnC gender">GENDER:</h4>
            <p class="columnD p_gender">{{ patient[6] }}</p>

            <div class="med-header prescription" id="p_header"  style="display: none;">PRESCRIPTION</div>
            
            <!-- PRESCRIPTION -->
            <div class="prescription-container" id="prescriptionContainer" style="display: none;">
                
            </div>

            <table class="prescription-table" id="prescriptionTable">
                <tbody>
                    {% for prescription in prescriptions %}
                        <tr>
                            <td colspan="5" style="text-align: left;">{{ prescription[0] }} {{ prescription[1] }}<br>
                                {{ prescription[2] }}<br>
                                {{ prescription[3] }}<br>
                                {{ prescription[4] }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="page-break"></div>
            <h4 class="doctor">EDA GRACE J. PARAGOSO, MD, FPPS</h4>
            <h4 class="license">License No. <p style="text-decoration:underline;"> 84303</p> </h4>
        
            <div class="btn-container">
                <button type="button" class="btn-prescription" id="addButton" style="display: none;">+ ADD PRESCRIPTION</button>
            </div>

            <div class="btn-container">
                <button class="btn-submit" id="submitData" type="button" style="display: none;">SUBMIT</button>
            </div>

            <img class="update-icon" onclick="enableEdit()" id="editIcon" src="{{ url_for('static', filename='images/Edit-icon.png') }}">

            <button class="print-icon" onclick="window.print()" id="printButton">
                <img id="editIcon" src="{{ url_for('static', filename='images/Print.png') }}">
            </button>
        </div>
    </form>

    <div id="successModal" class="modal" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Success</h1>
                </div>
                <div class="modal-body">
                    Prescription added successfully!
                </div>
                <a href="{{ url_for('doctor.prescription', assessment_id=consultation[0], patient_id=patient[0]) }}"> 
                    <div class="modal-footer">
                        <button type="button" class="btn-done">DONE</button>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div id="errorModal" class="modal" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Error</h1>
                </div>
                <div class="modal-body">
                    Error in adding prescription.
                </div>
                <a href="{{ url_for('doctor.prescription', assessment_id=consultation[0], patient_id=patient[0]) }}">
                    <div class="modal-footer">
                        <button type="button" class="btn-done">OKAY</button>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <script>
        // CURRENT DATE
        function displayDate() {
            const dateElement = document.getElementById('prescriptionDate');
        
            function updateDate() {
                const currentDate = new Date();
                const year = currentDate.getFullYear();
                const month = String(currentDate.getMonth() + 1).padStart(2, '0');
                const day = String(currentDate.getDate()).padStart(2, '0');
                const formattedDate = `${year}-${month}-${day}`;
        
                dateElement.textContent = `${formattedDate}`;
            }
            updateDate();
        }
        displayDate();

        // EDIT BUTTON
        function enableEdit() {
            const inputFields = document.querySelectorAll('.prescription input');

            inputFields.forEach((input) => {
                input.disabled = false;
            });

            const header = document.querySelector('#p_header');
            header.style.display = 'flex';

            const addPrescription = document.querySelector('#addButton');
            addPrescription.style.display = 'block';

            const submitButton = document.querySelector('#submitData');
            submitButton.style.display = 'block';

            const printButton = document.querySelector('#printButton');
            printButton.style.display = 'none';

            const prescriptionTable = document.querySelector('#prescriptionTable');
            prescriptionTable.style.display = 'none';

            const prescriptions = document.querySelector('#prescriptionContainer');
            prescriptions.style.display = 'block';

            const editIcon = document.getElementById('editIcon');
            editIcon.src = "{{ url_for('static', filename='images/Cancel-icon.png') }}";
            editIcon.setAttribute('onclick', 'disableEdit()'); 
        }

        function disableEdit() {
            const inputFields = document.querySelectorAll('.prescription input');

            inputFields.forEach((input) => {
                input.disabled = true;
            });

            const header = document.querySelector('#p_header');
            header.style.display = 'none';

            const addPrescription = document.querySelector('#addButton');
            addPrescription.style.display = 'none';

            const submitButton = document.querySelector('#submitData');
            submitButton.style.display = 'none';

            const printButton = document.querySelector('#printButton');
            printButton.style.display = 'block';

            const prescriptionTable = document.querySelector('#prescriptionTable');
            prescriptionTable.style.display = 'block';

            const prescriptions = document.querySelector('#prescriptionContainer');
            prescriptions.style.display = 'none';

            const editIcon = document.getElementById('editIcon');
            editIcon.src = "{{ url_for('static', filename='images/Edit-icon.png') }}";
            editIcon.setAttribute('onclick', 'enableEdit()');
        }

        // ADD PRESCRIPTION
        const addPrescriptionBtn = document.querySelector('.btn-prescription');
        const prescriptionContainer = document.querySelector('.prescription-container');
        let prescriptionCount = 0;

        function createPrescription() {
            if (prescriptionCount < 3) { 
                const newPrescription = document.createElement('div');
                newPrescription.classList.add('prescription-section');
                newPrescription.innerHTML = `
                    <div class="p_row row1">
                        <div class="inputBox prescription">
                            <input type="text" name="medication_name" required>
                            <span>MEDICINE</span>
                        </div>
                        <div class="inputBox dosage">
                            <input type="text" name="dosage" required>
                            <span>DOSAGE</span>
                        </div>
                    </div>
                    <div class="p_row row2">
                        <div class="inputBox quantity">
                            <input type="text" name="quantity" required>
                            <span>QUANTITY</span>
                        </div>
                        <div class="inputBox prescription">
                            <input type="text" name="duration" required>
                            <span>DURATION</span>
                        </div>
                    </div>
                    <div class="p_row row3">
                        <div class="inputBox p_instructions">
                            <input type="text" name="instructions" required>
                            <span>INSTRUCTIONS</span>
                        </div>
                        <button class="btn-submit remove" type="button">REMOVE</button>
                    </div>
                `;
                prescriptionContainer.appendChild(newPrescription);

                const removeButton = newPrescription.querySelector('.remove');
                removeButton.addEventListener('click', function () {
                    newPrescription.remove(); 
                });
                prescriptionCount++;
            } else {
                console.log('Maximum limit of prescriptions reached (3 allowed).');
                alert('Maximum limit of prescriptions reached (3 allowed). Please add any additional prescriptions later after submission.');
            }
        }

        addPrescriptionBtn.addEventListener('click', createPrescription);
        
       // GET THE PRESCRIPTION INPUTS
       function getPrescriptionInputs() {
            const prescriptionSections = document.querySelectorAll('.prescription-section');
        
            const prescriptions = [];
        
            prescriptionSections.forEach(section => {
                const medicationName = section.querySelector('input[name="medication_name"]').value;
                const dosage = section.querySelector('input[name="dosage"]').value;
                const quantity = section.querySelector('input[name="quantity"]').value;
                const duration = section.querySelector('input[name="duration"]').value;
                const instructions = section.querySelector('input[name="instructions"]').value;
        
                const prescription = {
                    medicationName,
                    dosage,
                    quantity,
                    duration,
                    instructions
                };
                prescriptions.push(prescription);
            });
        
            return prescriptions;
        }
    
        function sendPrescriptionData() {
            const prescriptions = getPrescriptionInputs(); 
            var assessmentId = document.querySelector('input[name="assessment_id"][hidden]').value;
            var patientId = document.querySelector('input[name="patient_id"][hidden]').value;
            console.log('assessment ID:', assessmentId);
            console.log('patient ID:', patientId);
            
            var dataToFetch = {
                assessment_id: assessmentId,
                patient_id: patientId,
                prescriptions: prescriptions,
            };

            fetch('/doctor/prescription/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(dataToFetch)
            })
            .then(response => { 
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json(); 
            })
            .then(data => {
                if (data.success) {
                    document.getElementById('successModal').style.display = 'block';
                } else {
                    document.getElementById('errorModal').style.display = 'block';
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        const submitButton = document.getElementById('submitData');
        submitButton.addEventListener('click', function() {
            sendPrescriptionData();
        });
    </script>
    
{% endblock %}