{% extends "base.html" %}
{% block title %}DocCare | Prescription{% endblock title %}
{% block link %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='doctor_style.css') }}">
{% endblock %}

{% block content %}

    <!-- SIDE NAVIGATION -->
    <div class="sidenav-bg">
        <div class="cms-logo">
            <img src="{{ url_for('static', filename='/images/DocCare Logo.png') }}">
        </div>
        <ul>
            <a href="{{ url_for('doctor.dashboard') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Dashboard.png') }}"> 
                    <p>Dashboard</p>
                </li>
            </a>
            <!-- <a href="{{ url_for('doctor.calendar') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Calendar.png') }}"> 
                    <p>Calendar</p>
                </li>
            </a> -->
            <a href="{{ url_for('doctor.appointment') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Appointment.png') }}"> 
                    <p>Appointment</p>
                </li>
            </a>
            <a href="{{ url_for('doctor.schedule') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Schedule.png') }}"> 
                    <p>Schedule</p>
                </li>
            </a>
            <li class="selected-icon-bg">
                <img src="{{ url_for('static', filename='images/Patient Record.png') }}"> 
                <p>Patient</p>
            </li>
            <!-- <a href="{{ url_for('doctor.profile') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Profile.png') }}"> 
                    <p>Profile</p>
                </li>
            </a> -->
        </ul>
        <div class="foot-nav">
            <div class="sidenav-user-bg">
                <img src="{{ url_for('static', filename='images/Eda.png') }}" class="user-img">
                <div>
                    <h3>{{ doctor[0] }}</h3>
                    <p>{{ doctor[2] }}</p>
                </div>
            </div>
            <ul>
                <li class="logout" id="logoutButton">
                    <img src="{{ url_for('static', filename='images/Logout.png') }}">
                    <p>Logout</p>
                </li>
            </ul>
        </div>
    </div>

    <main>
        <form action="{{ url_for('doctor.prescription', assessment_id=consultation[0], patient_id=patient[0]) }}"  method="POST">
            {{ PatientForm.csrf_token }}
            
            <!-- NAVBAR AND TABS FOR PATIENT RECORDS -->
            <div class="navbar">
                <ul class="nav nav-underline">
                    <a class="back-icon" href="{{ url_for('doctor.consultation', patient_id=patient_id) }}">
                        <img src="{{ url_for('static', filename='images/Back.png') }}">
                    </a>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page">PRESCRIPTION</a>
                    </li>
                </ul>

                <button class="print-icon" onclick="window.print()" id="printButton">
                    <img src="{{ url_for('static', filename='images/Print.png') }}">
                </button>
                
                <img class="update-icon" onclick="enableEdit()" id="editIcon" src="{{ url_for('static', filename='images/Edit-icon.png') }}">
            </div>

            <!-- ASSESSMENT ID -->
            <div class="inputBox code" style="display: none;">
                <input disabled name="assessment_id" value="{{ consultation[0] }}">
                <input hidden name="assessment_id" value="{{ consultation[0] }}" >
            </div>

            <!-- PATIENT ID -->
            <div class="inputBox code" style="display: none;">
                <input disabled name="patient_id" value="{{ consultation[1] }}">
                <input hidden name="patient_id" value="{{ consultation[1] }}" >
            </div>

            <!-- PRESCRIPTION -->
            <div class="patient-bg prescription">
                <div class="cms-logo prescription">
                    <div class="prescription_logo">
                        <img src="{{ url_for('static', filename='/images/DocCare Logo.png') }}">
                    </div>
                    <div style="display: flex;">
                        <p class="doc">Doc</p>
                        <h4 class="care">Care</h4>
                    </div>
                </div>

                <div class="head_prescription">
                    <div class="rx">
                        <img src="{{ url_for('static', filename='/images/Rx.png') }}">
                    </div>
    
                    <div class="line-border"></div>
                </div>

                <div class="body_prescription">
                    <div style="display: block">
                        <div class="name">
                            <h4>NAME:</h4>
                            <p>{{ patient[1] }} {{ patient[3] }}</p>
                        </div>
                        <div class="address">
                            <h4>ADDRESS:</h4>
                            <p>{{ patient[10] }}</p>
                        </div>
                    </div>
                    
                    <div style="display: block;">
                        <div class="date">
                            <h4>DATE:</h4>
                            <p id="prescriptionDate"></p>
                        </div>
        
                        <div class="gender_pres">
                            <h4>GENDER:</h4>
                        <p>{{ patient[6] }}</p>
                        </div>
                    </div>
                </div>

                <center>
                    <div class="med-header" id="p_header"  style="display: none;">PRESCRIPTION</div>
                
                    <!-- PRESCRIPTION -->
                    <div class="prescription-container" id="prescriptionContainer" style="display: none;">
                        <div class="p_row prescriptionA">
                            <div class="inputBox prescription">
                                <input type="text" name="medication_name" required>
                                <span>MEDICINE</span>
                            </div>
                            <div class="inputBox dosage">
                                <input type="text" name="dosage" required>
                                <span>DOSAGE</span>
                            </div>
                        </div>
                        <div class="p_row prescription">
                            <div class="inputBox quantity">
                                <input type="text" name="quantity" required>
                                <span>QUANTITY</span>
                            </div>
                            <div class="inputBox prescription">
                                <input type="text" name="duration" required>
                                <span>DURATION</span>
                            </div>
                        </div>
                        <div class="p_row prescription">
                            <div class="inputBox p_instructions">
                                <input type="text" name="instructions" required>
                                <span>INSTRUCTIONS</span>
                            </div>
                        </div>
                    </div>

                    <div class="btn-container">
                        <button class="btn-submit" id="submitData" type="submit" style="display: none;">SUBMIT</button>
                    </div>

                    <!-- DISPLAY PRESCRIPTION DATA -->
                    <div id="gridContainer" class="grid_container prescription">
                        <center>
                            <div class="grid_item prescription grid1">
                                <center>
                                    <table class="prescription_table" id="prescriptionTable">
                                        <tbody>
                                            {% for prescription in prescriptions %}
                                                <tr>
                                                    <td colspan="5" style="text-align: left;">{{ prescription[0] }} {{ prescription[1] }}<br>
                                                        {{ prescription[2] }}<br>
                                                        {{ prescription[3] }}<br>
                                                        {{ prescription[4] }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </center>
                            </div>
    
                            <div class="grid_item prescription">
                                <center>
                                    <div class="foot">
                                        <div class="page_break"></div>
                                        <h4 class="doctor">{{ doctor[0] }} {{ doctor[1] }}, MD, FPPS</h4>
                                        <h4 class="license">License No. <p style="text-decoration:underline;"> 84303</p> </h4>
                                    </div>
                                </center>
                            </div>
                        </center>
                    </div>
                </center>
            </div>
        </form>
    </main>

    {% if success %}
        <div id="successModal" class="modal" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Success</h1>
                    </div>
                    <div class="modal-body">
                        Prescription added successfully!
                    </div>
                    <a href="{{ url_for('doctor.prescription', assessment_id=consultation[0], patient_id=patient[0]) }}"> 
                        <div class="modal-footer">
                            <button type="button" class="btn-done">OKAY</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% elif error %}
        <div id="errorModal" class="modal" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Error</h1>
                    </div>
                    <div class="modal-body">
                        Error in adding prescription. Please try again.
                    </div>
                    <a href="{{ url_for('doctor.prescription', assessment_id=consultation[0], patient_id=patient[0]) }}">
                        <div class="modal-footer">
                            <button type="button" class="btn-done">OKAY</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

    <div id="toast-container">
        
    </div>

    <script>
        // CURRENT DATE
        function displayDate() {
            const dateElement = document.getElementById('prescriptionDate');
        
            function updateDate() {
                const currentDate = new Date();
                const year = currentDate.getFullYear();
                const month = String(currentDate.getMonth() + 1).padStart(2, '0');
                const day = String(currentDate.getDate()).padStart(2, '0');
                const formattedDate = `${year}-${month}-${day}`;
        
                dateElement.textContent = `${formattedDate}`;
            }
            updateDate();
        }
        displayDate();

        // EDIT BUTTON
        function enableEdit() {
            const header = document.querySelector('#p_header');
            header.style.display = 'flex';

            const submitButton = document.querySelector('#submitData');
            submitButton.style.display = 'block';

            const printButton = document.querySelector('#printButton');
            printButton.style.display = 'none';

            const prescriptions = document.querySelector('#prescriptionContainer');
            prescriptions.style.display = 'block';

            const gridContainer = document.querySelector('#gridContainer');
            gridContainer.style.display = 'none';
            
            const editIcon = document.getElementById('editIcon');
            editIcon.src = "{{ url_for('static', filename='images/Cancel-icon.png') }}";
            editIcon.setAttribute('onclick', 'disableEdit()'); 
        }

        function disableEdit() {
            const header = document.querySelector('#p_header');
            header.style.display = 'none';

            const submitButton = document.querySelector('#submitData');
            submitButton.style.display = 'none';

            const printButton = document.querySelector('#printButton');
            printButton.style.display = 'block';

            const prescriptions = document.querySelector('#prescriptionContainer');
            prescriptions.style.display = 'none';

            const gridContainer = document.querySelector('#gridContainer');
            gridContainer.style.display = 'block';

            const editIcon = document.getElementById('editIcon');
            editIcon.src = "{{ url_for('static', filename='images/Edit-icon.png') }}";
            editIcon.setAttribute('onclick', 'enableEdit()');
        }
        
        // NOTIFICATION
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function () {
            console.log('Connected to Socket.IO');
        });
    
        socket.on('send_notification_doctor', function (data) {
            const notificationMessage = data.message;
            console.log('Received notification:', notificationMessage);
            displayToast(notificationMessage);
        });
    
        function displayToast(message) {
           
            var toastContainer = document.getElementById('toast-container');
            var newToast = document.createElement('div');
            newToast.className = 'toast hide';
            newToast.innerHTML = `
                <div class="toast-header">
                    <strong class="mr-auto">NOTIFICATION</strong>
                    <button type="button" class="close-btn" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="notification-body toast-body">
                    ${message}
                </div>
            `;

            toastContainer.appendChild(newToast);
    
            newToast.classList.add('show');
    
            var closeButton = newToast.querySelector('.close-btn');
            closeButton.addEventListener('click', function () {
                newToast.classList.remove('show');
                setTimeout(function () {
                    newToast.remove(); 
                }, 500); 
            });
        }
    </script>
    
{% endblock %}