{% extends "base.html" %}
{% block title %}DocCare | Dashboard{% endblock title %}
{% block link %} <link rel="stylesheet" href="{{ url_for('static', filename='admin_style.css') }}"> {% endblock %}
{% block content %}
    <!-- SIDE NAV -->
    <div class="sidenav-bg">
        <div class="cms-logo">
            <img src="{{ url_for('static', filename='/images/DocCare Logo.png') }}">
            <p class="doc">Doc</p>
            <h4 class="care">Care</h4>
        </div>
        <ul>
            <li class="selected-icon-bg">
                <img src="{{ url_for('static', filename='images/Dashboard.png') }}"> 
                <p>Dashboard</p>
            </li>
            <a href="{{ url_for('admin.user_management') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/User Management.png') }}"> 
                    <p>User Management</p>
                </li>
            </a>
            <a href="{{ url_for('admin.profile') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Profile.png') }}"> 
                    <p>Profile</p>
                </li>
            </a>
        </ul>
        <div class="sidenav-user-bg">
            <img src="{{ url_for('static', filename='images/user.jpg') }}" class="user-img">
            <div>
                <h3>Eda Grace P.</h3>
                <p>Admin</p>
            </div>
        </div>
        <ul>
            <a href="{{ url_for('admin.logout') }}">
                <li class="logout">
                    <img src="{{ url_for('static', filename='images/Logout.png') }}">
                    <p>Logout</p>
                </li>
            </a>
        </ul>
    </div>

    <!-- DASHBOARD -->
    <main>
        <a href="#">
            <div class="doctors-icon">
                <img src="{{ url_for('static', filename='images/Doctors.png') }}">
            </div>
        </a>
        <a href="#">
            <div class="medtech-icon">
                <img src="{{ url_for('static', filename='images/Medtech.png') }}">
            </div>
        </a>
        <a href="#">
            <div class="receptionist-icon">
                <img src="{{ url_for('static', filename='images/Receptionist.png') }}">
            </div>
        </a>
    </main>
{% endblock %}  