{% extends "base.html" %}
{% block title %}DocCare | Dashboard{% endblock title %}
{% block link %} <link rel="stylesheet" href="{{ url_for('static', filename='admin_style.css') }}"> {% endblock %}

{% block content %}

    <!-- SIDE NAV -->
    <div class="sidenav-bg">
        <div class="cms-logo">
            <img src="{{ url_for('static', filename='/images/DocCare Logo.png') }}">
        </div>
        <ul>
            <li class="selected-icon-bg">
                <img src="{{ url_for('static', filename='images/Dashboard.png') }}"> 
                <p>Dashboard</p>
            </li>
            <a href="{{ url_for('admin.user_management') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/User Management.png') }}"> 
                    <p>User Management</p>
                </li>
            </a>
            <a href="{{ url_for('admin.profile') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Profile.png') }}"> 
                    <p>Profile</p>
                </li>
            </a>
        </ul>

        <div class="sidenav-user-bg">
            <img src="{{ url_for('static', filename='images/Xerxes.png') }}" class="user-img">
            <div>
                <h3>{{ info[0] }}</h3>
                <p>{{ info[1] }}</p>
            </div>
        </div>
        
        <ul>
            <li class="logout" id="logoutButton">
                <img src="{{ url_for('static', filename='images/Logout.png') }}">
                <p>Logout</p>
            </li>
        </ul>
    </div>

    <!-- DASHBOARD -->
    <main>
        <div class="doctor-bg">
            <img src="{{ url_for('static', filename='images/Doctor BG.png') }}">
            <div class="greetings-name">
                <p>Welcome,</p>
                <h2>{{ info[0] }}</h2>
            </div>
            <div class="greetings">
                <p>Have a nice day at work!</p>
            </div>
            <p class="date-time" id="demo"></p>
        </div>
    </main>

    <script>
        // TO DISPLAY THE DATE
        function displayDateAndTime() {
        const demoElement = document.getElementById('demo');

            function updateDateAndTime() {
                const currentDateAndTime = new Date();
                const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                const formattedDateAndTime = currentDateAndTime.toLocaleDateString(undefined, options);

                demoElement.innerHTML = `TODAY IS ${formattedDateAndTime.toUpperCase()}`;
            }
            updateDateAndTime();
            setInterval(updateDateAndTime);
        }
        displayDateAndTime();   
    </script>

{% endblock %}  