{% extends "base.html" %}
{% block title %}DocCare | Profile{% endblock title %}
{% block link %} <link rel="stylesheet" href="{{ url_for('static', filename='admin_style.css') }}"> {% endblock %}

{% block content %}

    <!-- SIDE NAV -->
    <div class="sidenav-bg">
        <div class="cms-logo">
            <img src="{{ url_for('static', filename='/images/DocCare Logo.png') }}">
        </div>
        <ul>
            <a href="{{ url_for('admin.dashboard') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Dashboard.png') }}"> 
                    <p>Dashboard</p>
                </li>
            </a>
            <a href="{{ url_for('admin.user_management') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/User Management.png') }}"> 
                    <p>User Management</p>
                </li>
            </a>
            <!-- <li class="selected-icon-bg">
                <img src="{{ url_for('static', filename='images/Profile.png') }}"> 
                <p>Profile</p>
            </li> -->
        </ul>
        <div class="foot-nav">
            <div class="sidenav-user-bg">
                <img src="{{ url_for('static', filename='images/Xerxes.png') }}" class="user-img">
                <div>
                    <h3>{{ info[0] }}</h3>
                    <p>{{ info[1] }}</p>
                </div>
            </div>
            <ul>
                <li class="logout" id="logoutButton">
                    <img src="{{ url_for('static', filename='images/Logout.png') }}">
                    <p>Logout</p>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}  