{% extends "base.html" %}
{% block title %}DocCare | Appointment{% endblock title %}
{% block link %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='receptionist_style.css') }}">
{% endblock link %}


{% block content %}
    <!-- Sidebar -->
    {% include "receptionist/appointment_sidebar.html" %}

    <!--Content start!-->
    <div class="content">
        <body class="appointment_body">
            <div class="container"> 
                <main class="doccare-appointment-table">
                    <section class="table__header__appointment">
                        <h1> 
                            <strong> APPOINTMENT </strong> 
                        </h1>
                    </section>
                    <section class="doccare-table-appointment-content">
                        <table>
                            <thead>
                                <tr>
                                    {% for header in headings %}
                                        <th>
                                            {{   header }}
                                        </th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in data %}
                                    <tr>
                                        <td> <strong> {{ row[0] }} </strong> </td>
                                        <td> {{ row[1] }} </td>
                                        <td> {{ row[2] }} </td>
                                        <td> 
                                            <p class="status done"> {{ row[3] }} </p>
                                        </td>
                                        <td class="table__cell">
                                            <button type="button" class="btn btn-danger delete-button" data-id="{{ row[0] }}">Delete</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                </main>
            </div>
        </body>
    </div>
    

{% endblock %}