{% extends "base.html" %}
{% block title %}DocCare | Dashboard{% endblock title %}
{% block link %} <link rel="stylesheet" href="{{ url_for('static', filename='receptionist_style.css') }}"> {% endblock %}

{% block content %}

    <div class="sidenav-bg">
        <div class="cms-logo">
            <img src="{{ url_for('static', filename='/images/DocCare Logo.png') }}">
            <p class="doc">Doc</p>
            <h4 class="care">Care</h4>
        </div>
        <ul>
            <li class="selected-icon-bg">
                <img src="{{ url_for('static', filename='images/Dashboard.png') }}"> 
                <p>Dashboard</p>
            </li>
            <a href="{{ url_for('receptionist.calendar') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Calendar.png') }}"> 
                    <p>Calendar</p>
                </li>
            </a>
            <a href="{{ url_for('receptionist.appointment') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Appointment.png') }}"> 
                    <p>Appointment</p>
                </li>
            </a>
            <a href="{{ url_for('receptionist.profile') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Profile.png') }}"> 
                    <p>Profile</p>
                </li>
            </a>
        </ul>
        <div class="sidenav-user-bg">
            <img src="{{ url_for('static', filename='images/Kurt.png') }}" class="user-img">
            <div>
                <h3>Eda Grace P.</h3>
                <p>Receptionist</p>
            </div>
        </div>
        <ul>
            <a href="{{ url_for('receptionist.logout') }}">
                <li class="logout">
                    <img src="{{ url_for('static', filename='images/Logout.png') }}">
                    <p>Logout</p>
                </li>
            </a>
        </ul>
    </div>
    <main>
        <p class="date-time" id="demo"></p>
        <a href="#">
            <div class="add-icon">
                <img src="{{ url_for('static', filename='images/Add Appointment.png') }}">
            </div>
        </a>
        <a href="#">
            <div class="reschedule-icon">
                <img src="{{ url_for('static', filename='images/Reschedule Appointment.png') }}">
            </div>
        </a>
        <a href="#">
            <div class="cancel-icon">
                <img src="{{ url_for('static', filename='images/Cancel Appointment.png') }}">
            </div>
        </a>
    </main>

    <script>
        function displayDateAndTime() {
        const demoElement = document.getElementById('demo');

            function updateDateAndTime() {
                const currentDateAndTime = new Date();
                const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                const formattedDateAndTime = currentDateAndTime.toLocaleDateString(undefined, options);
                const currentTime = currentDateAndTime.toLocaleTimeString();

                demoElement.innerHTML = `TODAY IS ${formattedDateAndTime.toUpperCase()}<br>${currentTime}`;
            }
            updateDateAndTime();
            setInterval(updateDateAndTime, 1000);
        }

        displayDateAndTime();   
    </script>
    
{% endblock %}