{% extends "base.html" %}
{% block title %}DocCare | Appointment{% endblock title %}
{% block link %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='receptionist_style.css') }}">
{% endblock link %}


{% block content %}
    <!-- Sidebar -->
    {% include "receptionist/appointment/appointment_sidebar.html" %}

    <!--Content start!-->
    <div class="content">
        <body class="appointment_body">
            <div class="container"> 
                <main class="doccare-appointment-table">
                    <section class="table__header__appointment">
                        <h1> 
                            <strong> APPOINTMENT </strong> 
                        </h1>
                        <div class="doccare-input-group">
                            <input type="search" placeholder="Search">
                            <span class="material-symbols-outlined">&#xe8b6;</span>
                        </div>
                    </section>
                    <section class="appointment_entries">
                    <!--<hr width="100%" color="blue"> -->
                        </br>  
                        <label for="entriesPerPage">Show entries:</label>
                        <select id="entriesPerPage" name="entriesPerPage" class="styled-dropdown">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> 
                    </section>
                    <section class="doccare-table-appointment-content">
                        <table>
                            <thead>
                                <tr>
                                    {% for header in headings %}
                                        <th>
                                            {{  header }}
                                            <span class="icon-arrow">&UpArrow;</span>
                                        </th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in data %}
                                    <tr>
                                        <td class="doccare-reference-number"> {{ row[0] }} </td>
                                        <td> {{ row[1] }} </td>
                                        <td> {{ row[2] }} </td>
                                        <td> 
                                            <p class="status done">
                                                <strong> {{ row[3] }} </strong>
                                            </p>
                                        </td>
                                        <td class="table__cell">
                                            <a href="{{ url_for('receptionist.logout') }}" class="doccare-view-appoinment-icon">
                                                <span class="material-symbols-outlined">info</span>
                                            </a>
                                            <a href="{{ url_for('receptionist.reschedule', reference_number=row[0]) }}" class="doccare-edit-appoinment-icon">
                                                <span class="material-symbols-outlined">edit</span>
                                            </a>
                                            <button type="button" class="delete-appoinment-button" data-id="{{ row[0] }}" onclick="openDeleteModal('{{ row[0] }}')">
                                                <span class="material-symbols-outlined delete-icon">delete</span>
                                            </button>                                            
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </section>
                    <div class="pagination">
                        {% if page > 1 %}
                            <a href="{{ url_for('receptionist.appointment', page=page-1) }}">Previous</a>
                        {% endif %}
                        
                        {% for p in range(1, total_pages + 1) %}
                            {% if p == page %}
                                <span class="current">{{ p }}</span>
                            {% else %}
                                <a href="{{ url_for('receptionist.appointment', page=p) }}">{{ p }}</a>
                            {% endif %}
                        {% endfor %}
                        
                        {% if page < total_pages %}
                            <a href="{{ url_for('receptionist.appointment', page=page+1) }}">Next</a>
                        {% endif %}
                    </div>
                    <div class="overlay-background-container" id="overlayBackgroundContainer">
                        <label class="overlay-background"> </label>
                    </div>    
                    <!-- Modal for Delete Confirmation -->
                    <div id="deleteModal" class="modal">
                        <div class="modal-content">
                            <p>Are you sure you want to delete this appointment?</p>
                            <div class="modal-buttons">
                                <button class="delete-modal-button" onclick="deleteAppointment()">Yes, delete it!</button>
                                <button class="cancel-modal-button">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <a href="{{ url_for('receptionist.add_appointment') }}" class="doccare-add-appointment-icon" type="button" id="add-appointment-button">
                        <span class="material-symbols-outlined add-icon">&#xe147;</span>
                    </a>
                     <!-- Include these script tags at the end of the body content -->
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
                    <script src="{{ url_for('static', filename='receptionist_script.js') }}"></script>
                    <script src="{{ url_for('static', filename='logout.js') }}"></script>
                </main>
            </div>
        </body>
    </div>
{% endblock %}