{% extends "base.html" %}
{% block title %}DocCare | Profile{% endblock title %}
{% block link %} <link rel="stylesheet" href="{{ url_for('static', filename='doctor_style.css') }}"> {% endblock %}
{% block content %}
    <div class="sidenav-bg">
        <div class="cms-logo">
            <img src="{{ url_for('static', filename='/images/DocCare Logo.png') }}">
        </div>
        <ul>
            <li class="notifications">
                <img src="{{ url_for('static', filename='images/Notification.png') }}"> 
            </li>
            <a href="{{ url_for('doctor.dashboard') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Dashboard.png') }}"> 
                    <p>Dashboard</p>
                </li>
            </a>
            <a href="{{ url_for('doctor.calendar') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Calendar.png') }}"> 
                    <p>Calendar</p>
                </li>
            </a>
            <a href="{{ url_for('doctor.appointment') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Appointment.png') }}"> 
                    <p>Appointment</p>
                </li>
            </a>
            <a href="{{ url_for('doctor.schedule') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Schedule.png') }}"> 
                    <p>Schedule</p>
                </li>
            </a>
            <a href="{{ url_for('doctor.patient') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Patient Record.png') }}"> 
                    <p>Patient</p>
                </li>
            </a>
            <li class="selected-icon-bg">
                <img src="{{ url_for('static', filename='images/Profile.png') }}"> 
                <p>Profile</p>
            </li>
        </ul>
        <div class="sidenav-user-bg">
            <img src="{{ url_for('static', filename='images/Eda.png') }}" class="user-img">
            <div>
                <h3>{{ info[0] }}</h3>
                <p>{{ info[2] }}</p>
            </div>
        </div>
        <ul>
            <li class="logout" id="logoutButton">
                <img src="{{ url_for('static', filename='images/Logout.png') }}">
                <p>Logout</p>
            </li>
        </ul>
    </div>

    <main>

    </main>
{% endblock %}