{% extends "base.html" %}
{% block title %}DocCare | Add User{% endblock title %}
{% block link %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_style.css') }}">
{% endblock %}

{% block content %}

    <!-- SIDE NAV -->
    <div class="sidenav-bg">
        <div class="cms-logo">
            <img src="{{ url_for('static', filename='/images/DocCare Logo.png') }}">
        </div>
        <ul>
            <a href="{{ url_for('admin.dashboard') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Dashboard.png') }}"> 
                    <p>Dashboard</p>
                </li>
            </a>
            <li class="selected-icon-bg">
                <img src="{{ url_for('static', filename='images/User Management.png') }}"> 
                <p>User Management</p>
            </li>
            <a href="{{ url_for('admin.profile') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Profile.png') }}"> 
                    <p>Profile</p>
                </li>
            </a>
        </ul>
        <div class="foot-nav">
            <div class="sidenav-user-bg">
                <img src="{{ url_for('static', filename='images/Xerxes.png') }}" class="user-img">
                <div>
                    <h3>{{ info[0] }}</h3>
                    <p>{{ info[1] }}</p>
                </div>
            </div>
            <ul>
                <li class="logout" id="logoutButton">
                    <img src="{{ url_for('static', filename='images/Logout.png') }}">
                    <p>Logout</p>
                </li>
            </ul>
        </div>
    </div>

    <main>
        <!-- NAVBAR AND TABS FOR USER INFORMATION -->
        <ul class="nav nav-underline">
            <a class="back-icon" href="{{ url_for('admin.user_management') }}">
                <img src="{{ url_for('static', filename='images/Back.png') }}">
            </a>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page">USER INFORMATION</a>
            </li>
        </ul>

        <form action="{{ url_for('admin.add_user') }}" method="POST">
            {{ UserForm.csrf_token }}

        <div class="user-bg">
            <div class="group-info">
                <div class="u_row firstRow">
                    <div class="inputBox fName">
                        <input type="text" required="required" name="first_name" oninput="capitalizeFirstLetter(this)">
                        <span>FIRST NAME</span>
                    </div>
                    <div class="inputBox mName">
                        <input type="text" required="required" name="middle_name" oninput="capitalizeFirstLetter(this)">
                        <span>MIDDLE NAME</span>
                    </div>
                    <div class="inputBox lName">
                        <input type="text" required="required" name="last_name" oninput="capitalizeFirstLetter(this)">
                        <span>LAST NAME</span>
                    </div>
                </div>

                <div class="u_row secondRow">
                    <div class="inputBox username">
                        <input type="text" name="username" autocomplete="off">
                        <span>USERNAME</span>
                    </div>

                    <div class="inputBox password">
                        <input type="password" required="required" name="password" autocomplete="off" value="{{ password }}" readonly>
                        <span>PASSWORD</span>
                    </div>
                    
                    
                </div>

                <div class="u_row thirdRow">
                    
                    <div class="inputBox email">
                        <input type="email" name="email" autocomplete="off">
                        <span>EMAIL</span>
                    </div>

                    <div class="inputBox gender">
                        <span>GENDER</span>
                        <select class="gender" name="gender" required="required">
                            <option value="" disabled selected></option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    
                    <div class="inputBox user_role">
                        <span>USER ROLE</span>
                        <select class="user_role" name="user_role" required="required">
                            <option value="" disabled selected></option>
                            <option value="doctor">Doctor</option>
                            <option value="receptionist">Receptionist</option>
                            <option value="medtech">Medtech</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                    
                </div>
            </div>
            <div class="btn-container">
                <button class="btn-submit" id="modalButton" type="submit">SUBMIT</button>
            </div>
        </div>
    </form>
    

    <script>
        function capitalizeFirstLetter(input) {

            let inputValue = input.value;
    
            let capitalizedValue = inputValue.replace(/\b\w/g, function (match) {
                return match.toUpperCase();
            });
    
            input.value = capitalizedValue;
        }
    </script>


    {% if success %}
        <div id="successModal" class="modal" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Success</h1>
                    </div>
                    <div class="modal-body">
                        User added successfully!
                    </div>
                    <a href="{{ url_for('admin.user_management') }}"> 
                        <div class="modal-footer">
                            <button id="successSave" type="button" class="btn-done">DONE</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
    {% elif error %}
        <div id="errorModal" class="modal" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Error</h1>
                    </div>
                    <div class="modal-body">
                        Unable to add user. An aaccount with the provided details already exists.
                    </div>
                    <a href="{{ url_for('admin.add_user') }}">
                        <div class="modal-footer">
                            <button id="errorDismiss" type="button" class="btn-done">OKAY</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}