{% extends "base.html" %}
{% block title %}DocCare | Add User{% endblock title %}
{% block link %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_style.css') }}">
{% endblock %}

{% block content %}

    <!-- SIDE NAV -->
    <div class="sidenav-bg">
        <div class="cms-logo">
            <img src="{{ url_for('static', filename='/images/DocCare Logo.png') }}">
        </div>
        <ul>
            <a href="{{ url_for('admin.dashboard') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Dashboard.png') }}"> 
                    <p>Dashboard</p>
                </li>
            </a>
            <li class="selected-icon-bg">
                <img src="{{ url_for('static', filename='images/User Management.png') }}"> 
                <p>User Management</p>
            </li>
            <a href="{{ url_for('admin.profile') }}">
                <li class="icon-bg">
                    <img src="{{ url_for('static', filename='images/Profile.png') }}"> 
                    <p>Profile</p>
                </li>
            </a>
        </ul>
        <div class="foot-nav">
            <div class="sidenav-user-bg">
                <img src="{{ url_for('static', filename='images/Xerxes.png') }}" class="user-img">
                <div>
                    <h3>{{ info[0] }}</h3>
                    <p>{{ info[1] }}</p>
                </div>
            </div>
            <ul>
                <li class="logout" id="logoutButton">
                    <img src="{{ url_for('static', filename='images/Logout.png') }}">
                    <p>Logout</p>
                </li>
            </ul>
        </div>
    </div>

    <main>
        <!-- NAVBAR AND TABS FOR USER INFORMATION -->
        <div class="navbar">
            <ul class="nav nav-underline">
                <a class="back-icon" href="{{ url_for('admin.user_management') }}">
                    <img src="{{ url_for('static', filename='images/Back.png') }}">
                </a>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">USER INFORMATION</a>
                </li>
            </ul>
        </div>

        <img class="update-icon" onclick="enableEdit()" id="editIcon" src="{{ url_for('static', filename='images/Edit-icon.png') }}">

        <form action="{{ url_for('admin.user_info') }}" method="POST">
            {{ UserForm.csrf_token }}

            <!-- USER ID -->
            <div class="inputBox code" style="display: none;">
                <input type="hidden" name="user_id" value="{{ user_id }}">
            </div>
            
            <!-- USER INFORMATION -->
            <div class="user-bg">
                <center>
                    <div id="notification" class="flash-message" style="display: none;"></div>
                </center>

                <div class="group-info">               
                    <div class="u_row firstRow">
                        <div class="inputBox fName">
                            <input type="text" required="required" name="first_name" value="{{ user[3] }}" oninput="capitalizeFirstLetter(this)" disabled>
                            <span>FIRST NAME</span>
                        </div>
                        <div class="inputBox mName">
                            <input type="text" required="required" name="middle_name" value="{{ user[4] }}" oninput="capitalizeFirstLetter(this)" disabled>
                            <span>MIDDLE NAME</span>
                        </div>
                        <div class="inputBox lName">
                            <input type="text" required="required" name="last_name" value="{{ user[5] }}" oninput="capitalizeFirstLetter(this)" disabled>
                            <span>LAST NAME</span>
                        </div>
                    </div>

                    <div class="u_row secondRow">
                        <div class="inputBox username">
                            <input type="text" required="required" name="username" value="{{ user[1] }}" disabled>
                            <span>USERNAME</span>
                        </div>

                        <div class="inputBox edit_email">
                            <input type="email" name="email" autocomplete="off" value="{{ user[6] }}" disabled>
                            <span>EMAIL</span>
                        </div>
                    </div>

                    <div class="u_row thirdRow">
                        <div class="inputBox edit_user_role">
                            <select class="edit_user_role" name="user_role" required="required" disabled>
                                <option value="" disabled selected></option>
                                <option value="doctor" {% if user[8] == "doctor" %} selected {% endif %}>Doctor</option>
                                <option value="receptionist" {% if user[8] == "receptionist" %} selected {% endif %}>Receptionist</option>
                                <option value="medtech" {% if user[8] == "medtech" %} selected {% endif %}>Medtech</option>
                                <option value="admin" {% if user[8] == "admin" %} selected {% endif %}>Admin</option>
                            </select>
                            <span>USER ROLE</span>
                        </div>

                        <div class="inputBox edit_gender">
                            <select class="edit_gender" name="gender" required="required" disabled>
                                <option value="" disabled selected></option>
                                <option value="male" {% if user[7] == "male" %} selected {% endif %}>Male</option>
                                <option value="female" {% if user[7] == "female" %} selected {% endif %}>Female</option>
                            </select>
                            <span>GENDER</span>
                        </div>
                    </div>
                </div>

                <div class="btn-container">
                    <button class="btn-submit" type="submit" id="updateButton" style="display: none;">UPDATE</button>
                </div>

                <center>
                    <div class="reset_pass">
                        <div class="inputBox edit_password">
                            <input type="password" required="required" name="password" value="{{ user[2] }}" disabled readonly>
                            <span>PASSWORD</span>
                        </div>
                        
                        <input type="hidden" id="newPassword" name="new_password">

                        <button class="btn-new-pass" type="button" onclick="generateNewPassword()">CHANGE PASSWORD</button>
                    </div>
                </center>
            </div>
        </form>
    </main>

    {% if success %}
        <div id="successModal" class="modal" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Success</h1>
                    </div>
                    <div class="modal-body">
                        User information updated successfully!
                    </div>
                    <a href="{{ url_for('admin.user_info', user_id=user[0]) }}">
                        <div class="modal-footer">
                            <button type="button" class="btn-done">DONE</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    {% elif error %}
        <div id="errorModal" class="modal" style="display: block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Error</h1>
                    </div>
                    <div class="modal-body">
                        Error in saving changes for user information!
                    </div>
                    <a href="{{ url_for('admin.user_info', user_id=user[0]) }}">
                        <div class="modal-footer">
                            <button type="button" class="btn-done">OKAY</button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}

    <script>
        // BUTTONS
        function enableEdit() {
            const inputFields = document.querySelectorAll('.group-info input, .group-info select');
            inputFields.forEach((input) => {
                input.disabled = false;
            });

            const submitButton = document.querySelector('#updateButton');
            submitButton.style.display = 'block';

            const editIcon = document.getElementById('editIcon');
            editIcon.src = "{{ url_for('static', filename='images/Cancel-icon.png') }}";
            editIcon.setAttribute('onclick', 'disableEdit()');
        }

        function disableEdit() {
            const inputFields = document.querySelectorAll('.group-info input, .group-info select');
            inputFields.forEach((input) => {
                input.disabled = true;
            });

            const submitButton = document.querySelector('#updateButton');
            submitButton.style.display = 'none';

            const editIcon = document.getElementById('editIcon');
            editIcon.src = "{{ url_for('static', filename='images/Edit-icon.png') }}";
            editIcon.setAttribute('onclick', 'enableEdit()');
        }

        // FOR GENERATING NEW PASSWORD
        function generateNewPassword() {
            const length = 12;
            const specialCharacters = "!@#$%^&*-_+<>?";
            const characters = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789' + specialCharacters;

            const confirmed = confirm("Are you sure you want to generate a new password?");
            if (!confirmed) {
                return; 
            }
            
            const newPassword = Array.from({ length }, () => characters[Math.floor(Math.random() * characters.length)]).join('');

            document.getElementById('newPassword').value = newPassword;

            // Display the success Flash message and auto-hide after 5 seconds
            const flashMessage = document.getElementById('notification');
            flashMessage.innerHTML = 'Password changed successfully. A new password has been generated.';
            flashMessage.style.display = 'block';

            setTimeout(() => {
                flashMessage.style.display = 'none';
                const inputFields = document.querySelectorAll('.group-info input, .group-info select');
                inputFields.forEach((input) => {
                    input.disabled = false;
                });
                document.getElementById('updateButton').click();
            }, 5000);
        }

        function capitalizeFirstLetter(input) {

            let inputValue = input.value;

            let capitalizedValue = inputValue.replace(/\b\w/g, function (match) {
                return match.toUpperCase();
            });

            input.value = capitalizedValue;
            }
            
    </script>

{% endblock %}